{% extends "r1_frame.html" %}
{% load django_math %}
{% block content %}
<div id="header-logo">
	<img id="logo-head" src="/static/img/top_curve_1280_top_logo.png">
	<div id="logo-pad">
	<div id="menu"></div>
	</div>
	<img id="logo-foot" src="/static/img/top_curve_1280_bot.png">
</div>


<div>
	<h2 style="margin-left: 2em;">NDSU Hard Red Spring Wheat Trial Results</h2>
</div>
<div style="height:1em;"></div>
<div>
	<h2>Welcome</h2><br/>
	<p>Presented here are the data collected during Hard Red Spring Wheat
	(HRSW) variety trials conducted in North Dakota. Available data 
	include yield, protein percent, test weight, kernel weight, 
	plant height, etc.</p>
	
	<br/>
		Other color schemes of this website:
	<ul>
		<li><a href="/">Version 1</a></li>
		<li><a href="/0/">Version 2</a></li>
		<li><a href="/1/">Version 3</a></li>
		<li>Version 4 (current)</li>
	</ul>
</div>
<div style="height:1em;"></div>
<div class="location_form" >
	{% for error in error_list %}
	<p style='color: red'>{{ error }}</p>
	{% endfor %}
	<!--
	TODO: Add noscript version of this field to point to the noscript
	version of the view_location page.

	TODO: fix input validation strings return an error.

	TODO: Do we need csrf_token?

	TODO: use get, not post
	-->
	<form action="/view/{{curyear}}/bushels_acre/2/" method="post">
		{% csrf_token %}
		{% for field in zipcode_radius_form %}
		<div class="input row">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Submit" />
	</form>
</div>
<div style="height:1em;"></div>
<div>
	<p>You can also compare varieties (hold the ctrl key to select multiple):</p>
	<form action="/view/variety/{{curyear}}/bushels_acre/2/" method="post">
		{% csrf_token %}
		{% for field in varieties_form %}
		<div class="input row">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Submit" />
	</form>
	
</div>
</div>
{% endblock %}
