{% extends "base.html" %}

{% block content %}
{% for error in error_list %}
<p style='color: red'>{{ error }}</p>
{% endfor %}
<!--
TODO: Add noscript version of this field to point to the noscript
version of the view_location page.

TODO: fix input validation strings return an error.

TODO: Do we need csrf_token?

TODO: use get, not post
-->
<form action="#" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="input row">
    {{ field.errors }}
    {{ field.label_tag }}: {{ field }}
  </div>
  {% endfor %}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
