{% extends "base.html" %}
{% load django_math %}
{% block content %}
<div class="tabs units">
	{% for fieldname, blurb_list in blurbs.items %}
	<div class="{{fieldname}}" style="display:none">
		<form name="{{fieldname}}form" action="/view/location/{{curyear}}/{{fieldname}}" method="post">
			{% csrf_token %}
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{fieldname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="tabs years"><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname, year_button_list in years.items %}
	<div style="display:none">
		<form name="{{yearname}}form" action="/view/location/{{yearname}}/{{curfield}}" method="post">
			{% csrf_token %}
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			{% for field in varieties_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{yearname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>

<div class="top_spacer"></div>

<table>
<tr>
<td><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	<div >
	{% for fieldname, blurb_list in blurbs.items %}
		{% if fieldname == curfield %}
		<a onclick="document['{{fieldname}}form'].submit(); return false" class="tab" href="/view/location/{{curyear}}/{{fieldname}}/"><img src="{{blurb_list.4}}"></a>
		{% else %}
		<a onclick="document['{{fieldname}}form'].submit(); return false" class="tab" href="/view/location/{{curyear}}/{{fieldname}}/"><img src="{{blurb_list.3}}"></a>
		{% endif %}
	{% endfor %}
	</div>
</td>
</tr>
<tr>
<td><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	<div ><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname, year_button_list in years.items %}
		<!--TODO: auto-generate these year button images-->
		<a onclick="document['{{yearname}}form'].submit(); return false" class="tab" href="/view/location/{{yearname}}/{{curfield}}/">
		{% if yearname == curyear %}
			<img src="{{year_button_list.1}}">
		{% else %}
			<img src="{{year_button_list.0}}">
		{% endif %}
		</a>
	{% endfor %}
	</div>
</td>
</tr>
<tr>
<td colspan="2">
	<div id="static_content">
		<table border='1'>
			<tr>
				<td colspan="{{ heading_list|length|add:1 }}">
					{% for fieldname, blurb_list in blurbs.items %}
					{% if fieldname == curfield %}
							<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
							<p>{{blurb_list.2}}</p>
					{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td colspan="{{ heading_list|length|add:1 }}" class="current_year">{{curyear}}</td> <!--TODO: Hardcoded value `2' isn't always correct-->
			</tr>
			<tr >
				<td class="Variety padded"><h3> Variety</h3></td>
				{% for heading in heading_list %}
				<td class="padded"><h3>{{ heading }}</h3></td>
				{% endfor %}
			</tr>
			<tr class="row subheadings thin">
			</tr>
		{% for datalist in sorted_list %}
			{% if datalist.0 == "Variety" %}
			<tr class="spacer_row">
				<td></td>
			</tr>
			<tr>
				<td colspan="{{ heading_list|length|add:1 }}" class="current_year"></td> <!--TODO: Hardcoded value `2' isn't always correct-->
			</tr>
			<tr class="Variety padded">
				{% for element in datalist %}
				<td class='padded'><h3>{{ element }}</h3></td>
				{% endfor %}
			</tr>
			{% else %}
			{% if datalist.0 == "LSD" %}
			<tr class="spacer_row">
				<td></td>
			</tr>
			<tr class="LSD_row">
				{% for element in datalist %}
				<td class='padded'>{{ element|default_if_none:"--" }}</td>
				{% endfor %}
			</tr>
			{% else %}
			<tr class="group {% cycle 'master_odd' 'master_even' %}">
				{% for element in datalist %}
				<td class='padded'>{{ element|default_if_none:"--" }}</td>
				{% endfor %}
			</tr>
			{% endif %}
			{% endif %}
		{% endfor %}
			<tr class="bottom_spacer"></tr>
	  </table>
	</div>
	<div class="clear">&#160;</div>
</td>
</tr>
</table>
	<!--
	<div id='dynamic_content'></div>
	-->
{% endblock %}

{% load jsonify %}
{% block jquery %}

  $('.group .master').toggle(
    function(){
      $(this).siblings('.slave').show();
    },
    function(){
      $(this).siblings('.slave').hide();  
    }
  );

{% endblock %}
