{% extends "r1_frame.html" %}
{% load django_math %}
{% block content %}
<div class="tabs units">
	{% for fieldname, blurb_list in blurbs.items %}
	<div class="{{fieldname}}" style="display:none">
		<form name="{{fieldname}}form" action="/view/location/{{curyear}}/{{fieldname}}/2" method="post">
			{% csrf_token %}
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{fieldname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>

<div class="tabs years">
	{% for yearname, year_button_list in years.items %}
	<div style="display:none">
		<form name="{{yearname}}form" action="/view/location/{{yearname}}/{{curfield}}/2" method="post">
			{% csrf_token %}
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			{% for field in varieties_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{yearname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>


<div id="header-logo">
	<img id="logo-head" src="/static/img/top_curve_1280_top_logo.png">
	<div id="logo-pad">
		<div id="menu">
		<table border='0'>
			<tr>
		{% for fieldname, blurb_list in blurbs.items %}
			<td>
			{% if fieldname == curfield %}
				<div onclick="document['{{fieldname}}form'].submit(); return false" class="menu-item menu-hi" id="menu-{{fieldname}}">
					<p class="menu-item">{{blurb_list.0}}</p>
				</div>
			{% else %}
				<div onclick="document['{{fieldname}}form'].submit(); return false" class="menu-item menu-lo" id="menu-{{fieldname}}">
					<p class="menu-item">{{blurb_list.0}}</p>
				</div>
			{% endif %}
			</td>
		{% endfor %}
			</tr>
		{% for yearname, year_button_list in years.items %}
		
		<tr>
		{% if yearname == curyear %}
			{% for fieldname, blurb_list in blurbs.items %}
				{% if fieldname == curfield %}
				<td>
					<div onclick="document['{{yearname}}form'].submit(); return false" class="submenu-item menu-item menu-hi">
					<p class="menu-item submenu-item">{{yearname}}</p>
					</div>	
				</td>
				{% else %}
				<td>
				</td>
				{% endif %}
			
			{% endfor %}
		{% else %}
			{% for fieldname, blurb_list in blurbs.items %}
				{% if fieldname == curfield %}
				<td>
					<div onclick="document['{{yearname}}form'].submit(); return false" class="submenu-item menu-item menu-lo">
					<p class="menu-item submenu-item">{{yearname}}</p>
					</div>	
				</td>
				{% else %}
				<td>
				</td>
				{% endif %}
			
			{% endfor %}
    
		{% endif %}
		</tr>
		{% endfor %}
		</table>
	</div>
	</div>
	<img id="logo-foot" src="/static/img/top_curve_1280_bot.png">
</div>




<div id="body-data">
	<img id="data-head" src="/static/img/bottom_curve_1280_top.png">
	<div id="data-pad">
		<div id="data-title">
		<p id="data-txt">
				{% for fieldname, blurb_list in blurbs.items %}
				{% if fieldname == curfield %}
						{{blurb_list.0}} ({{curyear}})
				{% endif %}
				{% endfor %}
		</p>
		</div>
		<div id="data-content">

	<div id="static_content">
		<table border='1'>
			<tr>
				<td colspan="{{ heading_list|length }}">
					{% for fieldname, blurb_list in blurbs.items %}
					{% if fieldname == curfield %}
							<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
							<p>{{blurb_list.2}}</p>
					{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td colspan="{{ heading_list|length }}" class="current_year"></td> <!--TODO: Hardcoded value `2' isn't always correct-->
			</tr>
			<tr >
				<td class="Variety padded"><h3> Variety</h3></td>
				{% for heading in heading_list %}
				<td class="{{ heading }} padded"><h3>{{ heading.0 }}</h3></td>
				{% endfor %}
			</tr>
			<tr class="row subheadings thin">
			</tr>
		{% for datalist in sorted_list %}
			{% if datalist.0 != "LSD" %}
			<tr class="group {% cycle 'r1_odd' 'r1_even' %}">
				{% for element in datalist %}
				{% if datalist.0 == element %}
					<td class='padded'>
						{{element.0}}
					</td>
					{% else %}
					<td class='padded'>
						{{ element|default_if_none:"--" }}
					</td>
					{% endif %}
					{%endfor%}
			</tr>
			{% else %}
			<tr class="spacer_row">
				<td></td>
			</tr>
			<tr style="background-color: #fac757">
				{% for element in datalist %}
				<td class='padded'>
						{{ element|default_if_none:"--" }}
					</td>
				{% endfor %}
			</tr>
			<tr class="spacer_row">
				<td></td>
			</tr>
			{% endif %}
		{% endfor %}
			<tr class="bottom_spacer"></tr>
	  </table>
	</div>
	<div class="clear">&#160;</div>

</div>
</div>
<img id="data-foot" src="/static/img/bottom_curve_1280_bot.png">
</div>
	<!--
	<div id='dynamic_content'></div>
	-->
				</div>

{% endblock %}

{% load jsonify %}
{% block jquery %}

  $('.group .master').toggle(
    function(){
      $(this).siblings('.slave').show();
    },
    function(){
      $(this).siblings('.slave').hide();  
    }
  );

{% endblock %}
