{% extends "base.html" %}
{%  load django_math %}
{% block content %}
<table>
<tr>
<td>
	<div class="top_spacer"></div>
	<div class="tabs">
		{% for fieldname, blurb_list in blurbs.items %}
		<div class="{{fieldname}}" style="display:none">
			<form name="{{fieldname}}form" action="/view/{{fieldname}}" method="post">
				{% csrf_token %}
				{% for field in location_form %}
				<div class="input row">
					{{ field.errors }}
					{{ field.label_tag }}: {{ field }}
				</div>
				{% endfor %}
				<input type="submit" value="Submit" />
			</form>
		</div>
		<div  style="padding: 5px;">
		<a onclick="document['{{fieldname}}form'].submit(); return false" class="tab" href="/view/{{fieldname}}/"><img src="{{blurb_list.3}}"></a>
		</div>
		{% endfor %}
	</div>
</td>
<td>
	<div id="static_content">
		<table border='1'>
			<tr>
				<td colspan="{{ heading_list|length }}">
					{% for fieldname, blurb_list in blurbs.items %}
					{% if fieldname == curfield %}
							<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
							<p>{{blurb_list.2}}</p>
					{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td colspan="{{ heading_list|length|sub:2 }}" class="current_year">{{current_year}}</td>
			</tr>
			<tr >
				<td class="Variety padded"><h3> Variety</h3></td>
				{% for heading in heading_list %}
				<td class="{{ heading }} padded"><h3>{{ heading }}</h3></td>
				{% endfor %}
			</tr>
			<tr class="row subheadings thin">
			</tr>
			{% for datalist in sorted_list %}
			<tr class="group {% cycle 'odd' 'even' %}">
				{% for element in datalist %}
				<td class='{{ element }} padded'>{{ element|default_if_none:"--" }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<tr class="row footer">
				<td class="row_label">LSD</td>
				<td class="days_to_head data">{{trialentry_dict.lsd.days_to_head}}</td>
				<td class="plant_height data">{{trialentry_dict.lsd.plant_height}}</td>
				<td class="kernel_weight data">{{trialentry_dict.lsd.kernel_weight}}</td>
				<td class="test_weight data">{{trialentry_dict.lsd.test_weight}}</td>
				<td class="protein_percent data">{{trialentry_dict.lsd.protein_percent}}</td>
				<td class="bushels_acre data">{{trialentry_dict.lsd.bushels_acre}}</td>
				<td class="bushels_acre data">{{trialentry_dict.lsd.bushels_acre}}</td>
				<td class="bushels_acre data no_right_border">{{trialentry_dict.lsd.bushels_acre}}</td>
			</tr>
			<tr class="bottom_spacer"></tr>
	  </table>
	</div>
	<div class="clear">&#160;</div>
</td>
</tr>
</table>
	<!--
	<div id='dynamic_content'></div>
	-->
{% endblock %}

{% load jsonify %}
{% block jquery %}

  $('.group .master').toggle(
    function(){
      $(this).siblings('.slave').show();
    },
    function(){
      $(this).siblings('.slave').hide();  
    }
  );

{% endblock %}
