{% extends "base.html" %}

{% block content %}
	<div class="top_spacer"></div>
	<div>
		<form name="locationform" action="/view/kernel_weight" method="post">
			{% csrf_token %}
			{% for field in location_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="Submit" />
		</form>
	</div>
	<div id="static_content" class="grid_13">
		<div class="datarows">
			<div class="row headings">
				<div class="Variety"><h3>{{current_year}} Variety <a onclick="document['locationform'].submit(); return false" href="/view/kernel_weight/">click</a></h3></div>
				{% for heading in heading_list %}
				<div class="{{ heading }}"><h3>{{ heading }}</h3></div>
				{% endfor %}
			</div>
			<div class="row subheadings thin">
				<div class="variety"></div>
			</div>
			{% for datalist in sorted_list %}
			<div class="group"> <!--TODO: filter replace space with underscores in this class property-->
				<div class="row master {% cycle 'odd' 'even' %}">
					{% for element in datalist %}
					<div class="{{ element }}">{{ element }}</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			<div class="row footer">
				<div class="row_label">LSD</div>
				<div class="days_to_head data">{{trialentry_dict.lsd.days_to_head}}</div>
				<div class="plant_height data">{{trialentry_dict.lsd.plant_height}}</div>
				<div class="kernel_weight data">{{trialentry_dict.lsd.kernel_weight}}</div>
				<div class="test_weight data">{{trialentry_dict.lsd.test_weight}}</div>
				<div class="protein_percent data">{{trialentry_dict.lsd.protein_percent}}</div>
				<div class="bushels_acre data">{{trialentry_dict.lsd.bushels_acre}}</div>
				<div class="bushels_acre data">{{trialentry_dict.lsd.bushels_acre}}</div>
				<div class="bushels_acre data no_right_border">{{trialentry_dict.lsd.bushels_acre}}</div>
			</div>
			<div class="row thin"></div>
	  </div>
	</div>
	<div class="right_sidebar">
		These locations are within {{radius}} miles:
		{% for location in location_list %}
		<p >* {{location.name}}</p>
		{% endfor %}
	</div>
	<div class="clear">&#160;</div>

	<!--
	<div id='dynamic_content'></div>
	-->
{% endblock %}

{% load jsonify %}
{% block jquery %}

  $('.group .master').toggle(
    function(){
      $(this).siblings('.slave').show();
    },
    function(){
      $(this).siblings('.slave').hide();  
    }
  );

{% endblock %}
