{% extends "base.html" %}
{% block content %}
<h1>About Us</h1>
<hr />
<div class="variety_trials__two_column">
	<div class="variety_trials__two_column_left">
		<ul> 
			<li>Dr. Joel Ransom</li>
			<li><a href = "mailto:joel.ransom@ndsu.edu"> Joel.Ransom@ndsu.edu </a></li>
		</ul>
		
		<ul> 
			<li>Matti Kariluoma</li>
			<li><a href = "mailto: Matti.M.Kariluoma@ndsu.edu"> Matti.M.Kariluoma@ndsu.edu </a></li>
		</ul>
		
		<ul> 
			<li>Aaron Frenette</li>
			<li><a href = "mailto:a.frenette@ndsu.edu">a.frenette@ndsu.edu</a></li>
		</ul>
	
		<ul> 
			<li>Kevin Bauer</li>
			<li><a href = "mailto:Kevin.Bauer@ndsu.edu"> Kevin.Bauer@ndsu.edu </a></li>
		</ul>

		<ul> 
			<li>Navneet Deosi</li>
			<li><a href = "mailto: Navneet.Deosi@my.ndsu.edu"> Navneet.Deosi@my.ndsu.edu </a></li>
		</ul>
		
		<ul> 
			<li>Akshat Sharma</li>
			<li><a href = "mailto: Akshat.Sharma.3@ndsu.edu"> Akshat.Sharma.3@my.ndsu.edu </a></li>
		</ul>
		
	</div>
	
		
	<div class="variety_trials__two_column_right">
		<ul> 
			<li>Dr. Jochum Wiersma</li>
			<li><a href = "mailto:wiers002@msu.edu"> wiers002@msu.edu </a></li>
		</ul>
	
		<ul> 
			<li>Nick Kramer</li>
			<li><a href = "mailto:nick.a.kramer@ndsu.edu">nick.a.kramer@ndsu.edu</a></li>
		</ul>
		
		<ul> 
			<li>Mara Paulson</li>
			<li><a href = "mailto:paulsonma@mnstate.edu"> paulsonma@mnstate.edu </a></li>
		</ul>
		
		<ul> 
			<li>Christopher Berstler</li>
			<li><a href = "mailto: Christopher.Berstler@ndsu.edu"> Christopher.Berstler@ndsu.edu</a></li>
		</ul>
		
		<ul> 
			<li>Kalith Kumasaru</li>
			<li><a href = "mailto: Kalith.Kumasaru@my.ndsu.edu"> Kalith.Kumasaru@my.ndsu.edu </a></li>
		</ul>
		
	</div>
</div>
<br style="clear: both;"/>
<hr/>
{% endblock %}

