{% extends "base_ag_ndsu.html" %}  

{% block breadcrumbs %}
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level1">
	<a href="{{home_url}}/add/">Add</a>
</span>
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level2">
	<a href="{{home_url}}/add/trial_entries/">Trial Entries</a>
</span>
{% endblock %}

{% block content %}
<h1>Add Multiple Trial Entries</h1>
<hr class="variety_trials__override" />

<div class="variety_trials__error">
{% if message %}
	{{ message }}
{% endif %}
</div>

<div>
	<div>
		<h4>Instructions</h4>
		<p>Choose one of the options below to upload your data:</p>
	</div>
	
	<div id='variety_trials__input_option_upload' class="variety_trials__input_option">
			<h4>Upload a Spreadsheet</h4>
			<div>
				<ol>
					<!--TODO: auto generate this file from the model-->
					<li> Download the spreadsheet <a href="{{home_url}}/static/csv/ndsu_hard_red_spring_wheat_template.csv">template</a> (300K). </li>
					<li> Enter your data. </li>
					<li> Submit the completed spreadsheet.</li>
				</ol>
				<form id="variety_trials__upload_form" enctype="multipart/form-data" action="{{home_url}}/add/trial_entry/confirm/" method="POST">
				{% for field in form %}
					{% for error in field.errors %}
						<div class="error">
							{{error}}
						</div>
					{% endfor %}
					<div class="input_row">  
					{% if field.name != 'csv_json' %}	
						{% if field.name == csv_file %}
							{{ field.label_tag }}:
						{% endif %}
						
						{{ field }}
					{% endif %}
					</div>
				{% endfor %}	
					<input type="submit" value="Submit" />
				</form>
			</div>
	</div>
	
	<div id='variety_trials__input_option_enter' class="variety_trials__input_option">
		<h4>Enter Data with the Online Spreadsheet</h4>
		<div>
			<ol>
				<li>Paste data into the Spreadsheet below.</li>
				<noscript>
				<li><b>(Javascript is required; you seem to have Javascript disabled)</b></li>
				</noscript>
			</ol>
			<form id="variety_trials__spreadsheet_form" enctype="multipart/form-data" action="{{home_url}}/add/trial_entry/confirm/" method="POST">
				{% for field in form %}
					<div class="input_row">  
					{% if field.name != 'csv_file' %}
						{{ field }}
					{% endif %}
					</div>
				{% endfor %}	
			</form>
			
			<div id="variety_trials__container" class="input_row" style="display: none;">
				<div id="variety_trials__spreadsheet"></div>
			</div>
			<input type="button" id="variety_trials__spreadsheet_submit" style="display: none;" value="Submit" />
		</div>
	</div>

	

</div>

{% endblock %}

{% block javascript_imports %}
<script src="{{home_url}}/static/js/jquery.handsontable.js"></script>
<script src="{{home_url}}/static/js/variety_trials_handsontable.js"></script>

<link rel="stylesheet" media="screen" href="{{home_url}}/static/css/jquery.contextMenu.css">
<link rel="stylesheet" media="screen" href="{{home_url}}/static/css/jquery.handsontable.css">

{% endblock %}

{% block javascript%}

var cols = {{headers|length}};
var variety_trials__headers = [
		{%for field in headers%}"{{field}}", {%endfor%} ""
	];
var spreasheet_container = "#variety_trials__spreadsheet"
var output_container = "#id_csv_json"

$('#variety_trials__input_option_upload > div').hide();
$('#variety_trials__input_option_enter > div').hide();

// Set up onclick event for the headers
$('#variety_trials__input_option_upload > h4').click(function(event) 
		{
			// prevents links from being followed, etc.
			event.preventDefault();
			
			$('#variety_trials__input_option_enter > div').slideUp();
			$('#variety_trials__input_option_upload > div').slideToggle();
			
			// prevents links from being followed, etc.
			return false;
		}
	);

$('#variety_trials__input_option_enter > h4').click(function(event) 
		{
			// prevents links from being followed, etc.
			event.preventDefault();
			
			$('#variety_trials__input_option_upload > div').slideUp();
			$('#variety_trials__input_option_enter > div').slideToggle();
			
			// redraw, otherwise the first column header is garbled
			$(spreasheet_container).handsontable('render');
			
			// prevents links from being followed, etc.
			return false;
		}
	);

$('#variety_trials__container').show();
$('#variety_trials__spreadsheet_submit').show();

variety_trials__init_handsontable(cols, variety_trials__headers, spreasheet_container, output_container);

// HACK
// if we try and set this style _before_ calling handsontable(), it will be overwritten with the value 'hidden'
$(spreasheet_container).css('overflow', 'scroll');



// Set up an onclick function for the javascript submit button
$('#variety_trials__spreadsheet_submit').click(function(event) {
	// First, select a cell to commit whatever cell is highlighted atm
	setTimeout(function() {
			//timeout is needed because Handsontable normally deselects 
			//current cell when you click outside the table
			$(spreasheet_container).handsontable("selectCell", 0, 0);
	}, 10);
	// Then, submit the form. 
	setTimeout(function() {
			$('#variety_trials__spreadsheet_form').submit();
	}, 20);
});

{% endblock %}
