{% extends "base_ag_ndsu.html" %}  
{% block content %}
<div class="variety_trials__error">
{% if message %}
	{{ message }}
{% endif %}
</div>

<div>
	<div>
		<h4>Instructions</h4>
		<p>Choose one of the options below to upload your data:</p>
	</div>
	
	<div id='variety_trials__input_option_upload' class="variety_trials__input_option">
			<h4>Upload a Spreadsheet</h4>
			<div>
				<ol>
					<!--TODO: auto generate this file from the model-->
					<li> Download the spreadsheet <a href="{{home_url}}/static/csv/ndsu_hard_red_spring_wheat_template.csv">template file</a> (300K). </li>
					<li> Enter your data. </li>
					<li> Submit the completed file.</li>
				</ol>
				<form id="variety_trials__upload_form" enctype="multipart/form-data" action="{{home_url}}/add/trial_entry/confirm/" method="POST">
				{% for field in form %}
					<div class="input_row">  
					{% if field.name == 'csv_file' %}
						{% for error in field.errors %}
						<div class="error">
							{{error}}
						</div>
						{% endfor %}
						
						{{ field.label_tag }}: {{ field }}
					{% else %}
						{{ field }}
					{% endif %}
					</div>
				{% endfor %}	
					<input type="submit" value="Submit" />
				</form>
			</div>
	</div>
	
	<div id='variety_trials__input_option_enter' class="variety_trials__input_option">
		<h4>Enter Data</h4>
		<div>
			<ol>
				<li>Paste data into the Spreadsheet below.</li>
				<noscript>
				<li><b>(Javascript is required; you seem to have Javascript disabled)</b></li>
				</noscript>
			</ol>
			<form id="variety_trials__spreadsheet_form" enctype="multipart/form-data" action="{{home_url}}/add/trial_entry/confirm/" method="POST">
				<div id="variety_trials__container" class="input_row" style="display: none;">
					<label for="variety_trials__spreadsheet">Spreadsheet</label>: <div id="variety_trials__spreadsheet" class="dataTable"></div>
				</div>
				<input type="button" id="variety_trials__spreadsheet_submit" style="display: none;" value="Submit" />
			</form>
		</div>
	</div>

	

</div>

{% endblock %}

{% block javascript_imports %}
<script src="{{home_url}}/static/js/bootstrap-typeahead.js"></script>
<script src="{{home_url}}/static/js/jquery.autoresize.js"></script>
<script src="{{home_url}}/static/js/jquery.contextMenu.js"></script>
<script src="{{home_url}}/static/js/jquery.ui.position.js"></script>
<script src="{{home_url}}/static/js/json2.min.js"></script>
<script src="{{home_url}}/static/js/jquery.handsontable.js"></script>
<script src="{{home_url}}/static/js/variety_trials_handsontable.js"></script>

<link rel="stylesheet" media="screen" href="{{home_url}}/static/css/jquery.contextMenu.css">
<link rel="stylesheet" media="screen" href="{{home_url}}/static/css/jquery.handsontable.css">

{% endblock %}

{% block javascript%}

$('#variety_trials__input_option_upload > div').hide();
$('#variety_trials__input_option_enter > div').hide();

// Set up onclick event for the headers
$('#variety_trials__input_option_upload > h4').click(function(event) 
		{
			// prevents links from being followed, etc.
			event.preventDefault();
			
			$('#variety_trials__input_option_enter > div').slideUp();
			$('#variety_trials__input_option_upload > div').slideToggle();
			
			// prevents links from being followed, etc.
			return false;
		}
	);

$('#variety_trials__input_option_enter > h4').click(function(event) 
		{
			// prevents links from being followed, etc.
			event.preventDefault();
			
			$('#variety_trials__input_option_upload > div').slideUp();
			$('#variety_trials__input_option_enter > div').slideToggle();
			
			// prevents links from being followed, etc.
			return false;
		}
	);

$('#variety_trials__container').show();
$('#variety_trials__spreadsheet_submit').show();

var cols = {{headers|length}};
var variety_trials__headers = [
		{%for field in headers%}"{{field}}", {%endfor%} ""
	];
var spreasheet_container = "#variety_trials__spreadsheet"
var output_container = "#id_csv_json"

variety_trials__init_handsontable(cols, variety_trials__headers, spreasheet_container, output_container);

// Set up an onclick function for the javascript submit button
$('#variety_trials__spreadsheet_submit').click(function(event) {
	// First, select a cell to commit whatever cell is highlighted atm
	setTimeout(function() {
			//timeout is needed because Handsontable normally deselects 
			//current cell when you click outside the table
			$(spreasheet_container).handsontable("selectCell", 0, 0);
	}, 10);
	// Then, submit the form. 
	setTimeout(function() {
			$('#variety_trials__spreadsheet_form').submit();
	}, 20);
});

{% endblock %}
