{% extends "base.html" %}

{% block content %}


<div>
	<h4>Instructions: download the spreadsheet template file below, enter 
	your data,then submit the completed file.</h4>
	<!--TODO: auto generate this file from the model-->
	<a href="../static/csv/ndsu_hard_red_spring_wheat_template.csv">Template File</a> (300K)
	<br />
	<br />
	<br />
</div>

{% for error_source, error_msg in format_errors.items%}
<div class="error">
	{{ error_source }}: {{ error_msg }}
</div>
{% endfor %}

<form enctype="multipart/form-data" action="/add_trials_confirm/" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="input_row">
      {% for error in field.errors %}
			<div class="error">
				{{error}}
			</div>
			{% endfor %}
      {{ field.label_tag }}: {{ field }}
    </div>
  {% endfor %}
  {{ formset.management_form }}
    {% for form in formset.forms %}
        {% for field in form %}
          <div class="input_row">
            {% for error in field.errors %}
            <div class="error">
							{{error}}
						</div>
            {% endfor %}
            {{ field.label_tag }}: {{ field }}
          </div>
        {% endfor %}
    {% endfor %}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
