{% extends "base_ag_ndsu.html" %}
{% block breadcrumbs %}
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level1">
	<a href="{{home_url}}/add/">Add</a>
</span>
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level2">
	<a href="{{home_url}}/add/variety/">Variety</a>
</span>
{% endblock %}

{% block content %}
<h1>Add New Variety</h1>
<hr class="variety_trials__override" />

<div class="variety_trials__error">
{% if message %}
	{{ message }}
{% endif %}
</div>

<form action="#" method="post">
	{% for field in form %}
	<div class="variety_trials__input_row">
		{% for error in field.errors %}
		<div class="variety_trials__error">
			{{error}}
		</div>
		{% endfor %}
		{{ field.label_tag }} {{ field }}
	</div>
	{% endfor %}
{% comment %}
	{{ formset.management_form }}
	{% for form in formset.forms %}
		{% for field in form %}
	<div class="variety_trials__input_row">
		{% for error in field.errors %}
		<div class="variety_trials__error">
			{{error}}
		</div>
		{% endfor %}
		{{ field.label_tag }} {{ field }}
	</div>
		{% endfor %}
	{% endfor %}
{% endcomment %}
	<input type="submit" value="Submit" />
</form>

{% endblock %}
