{% extends "base_ag_ndsu.html" %}
{% load escape_quotes_strip_newlines %}
{% block breadcrumbs %}
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level1">
	<a href="{{home_url}}/add/">Add</a>
</span>
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level2">
	<a href="{{home_url}}/add/trial_entry/">Trial Entry</a>
</span>
{% endblock %}

{% block content %}
<h1>Add Trial Entry</h1>

<div class="variety_trials__error">
{% if message %}
	<hr class="variety_trials__override" />
	{{ message }}
{% endif %}
</div>


<form action="#" method="post">
	{{formset.management_form }}
	<div id="variety_trials__trial_entry_forms">
		<div class="variety_trials__trial_entry_form" id="variety_trials__trial_entry_empty_form">
			<hr class="variety_trials__override" />
			{% for field in formset.empty_form %}
			<div class="variety_trials__input_row">
				{% for error in field.errors %}
				<div class="variety_trials__error">
					{{error}}
				</div>
				{% endfor %}
				{{ field.label_tag }} {{ field }} 
				
				{% if field.name == 'location' %}
				<a target="_blank" href="{{home_url}}/add/location/">(+) Add New Location</a>
				{% elif field.name == 'variety' %}
				<a target="_blank" href="{{home_url}}/add/variety/">(+) Add New Variety</a>
				{% elif field.name == 'plant_date' %}
				<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				{% elif field.name == 'harvest_date' %}
				<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				{% endif %}
				
				<span class="variety_trials__help_text">{{field.help_text}}</span>
			</div>
			{% endfor %}
		</div>
	{% for form in formset %}
		<div class="variety_trials__trial_entry_form">
			<hr class="variety_trials__override" />
			{% for field in form %}
			<div class="variety_trials__input_row">
				{% for error in field.errors %}
				<div class="variety_trials__error">
					{{error}}
				</div>
				{% endfor %}
				{{ field.label_tag }} {{ field }}
				
				{% if field.name == 'location' %}
				<a target="_blank" href="{{home_url}}/add/location/">(+) Add New Location</a>
				{% elif field.name == 'variety' %}
				<a target="_blank" href="{{home_url}}/add/variety/">(+) Add New Variety</a>
				{% elif field.name == 'plant_date' %}
				<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				{% elif field.name == 'harvest_date' %}
				<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				{% endif %}
				
				<span class="variety_trials__help_text">{{field.help_text}}</span>
			</div>
		{% endfor %}
		</div>
	{% endfor %}

	</div>
	<div class="variety_trials__hidden">
		<a href="#" id="variety_trials__add_trial_entry_form">Add Another Form</a>  
	</div>
	<input type="submit" value="Submit" />
</form>
 
{% endblock %}

{% block javascript_imports %}
<link rel="stylesheet" media="screen" href="{{home_url}}/static/css/jquery-ui.css">
{% endblock %}

{% block javascript%}

$('.variety_trials__hidden').show();
// http://stackoverflow.com/questions/2353710/how-would-you-make-a-dynamic-formset-in-django 

var form_count = {{formset.total_form_count}};
$('#variety_trials__add_trial_entry_form').click(
		function(event) 
		{
			event.preventDefault();
			form_count++;
			var new_form = $('#variety_trials__trial_entry_empty_form').clone().hide();
			$('#variety_trials__trial_entry_forms').append(new_form);
			new_form.slideDown();
			
			$('#id_form-TOTAL_FORMS').val(form_count);
			return false;
		}
	);
{% endblock %}
