{% extends "base_ag_ndsu.html" %}
{% load escape_quotes_strip_newlines %}
{% block breadcrumbs %}
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level1">
	<a href="{{home_url}}/add/">Add</a>
</span>
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level2">
	<a href="{{home_url}}/add/trial_entry/">Trial Entry</a>
</span>
{% endblock %}

{% block content %}
<h1>Add Trial Entry</h1>

<div class="variety_trials__error">
{% if message %}
	<hr class="variety_trials__override" />
	{{ message }}
{% endif %}
</div>

<!-- Empty forms for use with the Javascript & Add date/location/variety buttons -->
<div id="variety_trials__date_form_popup">
</div>
<div id="variety_trials__location_form_popup">
</div>
<div id="variety_trials__variety_form_popup">
</div>

<div style="display: none;">
	<div class="variety_trials__date_form" id="variety_trials__date_empty_form">
	{% for field in date_empty_form %}
		<div class="variety_trials__input_row">
			{{ field.label_tag }} {{ field }} <span class="variety_trials__help_text">{{field.help_text}}</span>
		</div>
	{% endfor %}
		<input class='variety_trials__date_form_button' type='button' value="Submit">
	</div>
	<div class="variety_trials__location_form" id="variety_trials__location_empty_form">
	{% for field in location_empty_form %}
		<div class="variety_trials__input_row">
			{{ field.label_tag }} {{ field }} <span class="variety_trials__help_text">{{field.help_text}}</span>
		</div>
	{% endfor %}
		<input class='variety_trials__location_form_button' type='button' value="Submit">
	</div>
	<div class="variety_trials__variety_form" id="variety_trials__variety_empty_form">
	{% for field in variety_empty_form %}
		<div class="variety_trials__input_row">
			{{ field.label_tag }} {{ field }} <span class="variety_trials__help_text">{{field.help_text}}</span>
		</div>
	{% endfor %}
		<input class='variety_trials__variety_form_button' type='button' value="Submit">
	</div>
</div>

<form action="#" method="post">
	{{formset.management_form }}
	<div id="variety_trials__trial_entry_forms">
		<!-- blank, template form -->
		<div class="variety_trials__trial_entry_form" id="variety_trials__trial_entry_empty_form">
			<hr class="variety_trials__override" />
			{% for field in formset.empty_form %}
			<div class="variety_trials__input_row">
				{% for error in field.errors %}
				<div class="variety_trials__error">
					{{error}}
				</div>
				{% endfor %}
				{{ field.label_tag }} {{ field }} <span class="variety_trials__help_text">{{field.help_text}}</span>
				
				{% if field.name == 'location' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/location/">(+) Add New Location</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/location/" class="variety_trials__add variety_trials__add_location" >Add New Location</a>  
				</div>
				{% elif field.name == 'variety' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/variety/">(+) Add New Variety</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/variety/" class="variety_trials__add variety_trials__add_variety">Add New Variety</a>  
				</div>
				{% elif field.name == 'plant_date' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/date/" class="variety_trials__add variety_trials__add_plant_date">Add New Date</a>  
				</div>
				{% elif field.name == 'harvest_date' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/date/" class="variety_trials__add variety_trials__add_harvest_date">Add New Date</a>  
				</div>
				{% endif %}
				
			</div>
			{% endfor %}
		</div>
	
	<!-- User's forms -->
	{% for form in formset %}
		<div class="variety_trials__trial_entry_form">
			<hr class="variety_trials__override" />
			{% for field in form %}
			<div class="variety_trials__input_row">
				{% for error in field.errors %}
				<div class="variety_trials__error">
					{{error}}
				</div>
				{% endfor %}
				{{ field.label_tag }} {{ field }} <span class="variety_trials__help_text">{{field.help_text}}</span>
				
				{% if field.name == 'location' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/location/">(+) Add New Location</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/location/" class="variety_trials__add variety_trials__add_location" >Add New Location</a>  
				</div>
				{% elif field.name == 'variety' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/variety/">(+) Add New Variety</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/variety/" class="variety_trials__add variety_trials__add_variety">Add New Variety</a>  
				</div>
				{% elif field.name == 'plant_date' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/date/" class="variety_trials__add variety_trials__add_plant_date">Add New Date</a>  
				</div>
				{% elif field.name == 'harvest_date' %}
				<noscript>
				<div>
					<a target="_blank" href="{{home_url}}/add/date/">(+) Add New Date</a>
				</div>
				</noscript>
				<div class="variety_trials__hidden">
					<a href="{{home_url}}/add/date/" class="variety_trials__add variety_trials__add_harvest_date">Add New Date</a>  
				</div>
				{% endif %}
				
			</div>
		{% endfor %}
		</div>
	{% endfor %}

	</div>
	<div class="variety_trials__hidden">
		<a href="{{home_url}}/add/trial_entry/" class="variety_trials__add" id="variety_trials__add_trial_entry_form">Add Another Form</a>  
	</div>
	<input type="submit" value="Submit" />
</form>
 
{% endblock %}

{% block javascript_imports %}
<link rel="stylesheet" href="{{home_url}}/static/css/jquery-ui.css">
{% endblock %}

{% block javascript%}

$('.variety_trials__hidden').show();
// http://stackoverflow.com/questions/2353710/how-would-you-make-a-dynamic-formset-in-django 

var form_count = {{formset.total_form_count}};
$('#variety_trials__add_trial_entry_form').click(
		function(event) 
		{
			event.preventDefault();
			
			var new_div_inputs = $('#variety_trials__trial_entry_empty_form').clone().hide();
			new_div_inputs.removeAttr('id');
			
			new_div_inputs.children('div').children('label').each(
				function(index, Element)
				{
					var value = $(Element).attr('for');
					value = value.replace('__prefix__', form_count);
					$(Element).attr('for', value);
				}
			);
			
			new_div_inputs.children('div').children('input').each(
				function(index, Element)
				{
					var id = $(Element).attr('id');
					var name = $(Element).attr('name');
					
					id = id.replace('__prefix__', form_count);
					name = name.replace('__prefix__', form_count);
					
					$(Element).attr('id', id);
					$(Element).attr('name', name);
				}
			);
			
			$('#variety_trials__trial_entry_forms').append(new_div_inputs);
			new_div_inputs.slideDown();
			
			form_count++;
			$('#id_form-TOTAL_FORMS').val(form_count);
			return false;
		}
	);

function variety_trials_create_popup_form(empty_form_id, submit_button, popup_div_id)
{
	var new_div_inputs = $(empty_form_id).clone();
	new_div_inputs.removeAttr('id');
	
	new_div_inputs.children(submit_button).click(
			function(event)
			{
				event.preventDefault();
				alert('Submit that form!');
				return false;
			}
		);
	
	new_div_inputs.children('div').children('input').keypress(
			function(event) 
			{
				if(event.which == 13) 
				{
					$(this).blur();
					$(this).parent().parent().children(submit_button).focus().click();
				}
			}
		);
	
	$(popup_div_id).append(new_div_inputs);
	$(popup_div_id).slideDown();
}

$('a.variety_trials__add_location').click(
		function(event) 
		{
			event.preventDefault();
			
			variety_trials_create_popup_form(
					'#variety_trials__location_empty_form',
					'.variety_trials__location_form_button',
					'#variety_trials__location_form_popup'
				)
			
			return false;
		}
	);
	
$('a.variety_trials__add_variety').click(
		function(event) 
		{
			event.preventDefault();
			
			variety_trials_create_popup_form(
					'#variety_trials__variety_empty_form',
					'.variety_trials__variety_form_button',
					'#variety_trials__variety_form_popup'
				)
			
			return false;
		}
	);
	
$('a.variety_trials__add_plant_date').click(
		function(event) 
		{
			event.preventDefault();
			
			variety_trials_create_popup_form(
					'#variety_trials__date_empty_form',
					'.variety_trials__date_form_button',
					'#variety_trials__date_form_popup'
				)
			
			return false;
		}
	);
	
$('a.variety_trials__add_harvest_date').click(
		function(event) 
		{
			event.preventDefault();
			
			variety_trials_create_popup_form(
					'#variety_trials__date_empty_form',
					'.variety_trials__date_form_button',
					'#variety_trials__date_form_popup'
				)
			
			return false;
		}
	);
{% endblock %}
