{% extends "base_ag_ndsu.html" %} 
{% load get_from_dict %}
{% load django_math %}
{% block content %}
<div class="variety_trials__error">
{% if message %}
	{{ message }}
{% endif %}
</div>

<div class="variety_trials__spreadsheet_table">
	<div class="variety_trials__spreadsheet_row variety_trials__spreadsheet_header">
		<div class="variety_trials__spreadsheet_data variety_trials__spreadsheet_row_number"></div>
{% for header in headers %}
		<div class="variety_trials__spreadsheet_data variety_trials__spreadsheet_{{header}}">{{header}}</div>
{% endfor %}
	</div>
{% for index, row in trial_entries %}
	<div class="variety_trials__spreadsheet_row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %} ">
		<div class="variety_trials__spreadsheet_data variety_trials__spreadsheet_row_number">{{index|add:1}}</div>
		{% for header in headers %}
			{% if header in row %}
		<div class="variety_trials__spreadsheet_data variety_trials__spreadsheet_{{header}}">{{row|get_from_dict:header}}</div>
			{% else %}
		<div class="variety_trials__spreadsheet_data variety_trials__spreadsheet_{{header}}"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}
</div>
{% if confirm_forms or invalid_input_forms %}
<form id="variety_trials__spreadsheet_form" enctype="multipart/form-data" action="{{home_url}}/add/trial_entry/confirm/" method="POST">
  {% for row, user_input, form in confirm_forms %}
		<p>In row {{row}} you entered &quot;{{user_input}}&quot; for {{form.prompt}}, did you mean:
		{% for field in form %}
			<div class="input_row">  
				{% for error in field.errors %}
				<div class="error">
					{{error}}
				</div>
				{% endfor %}
				{{ form.label }}: {{ field }}
				<a href = "#">Add New...</a>
			</div>
		{% endfor %}
		</p>
	{% endfor %}
  {% for row, user_input, form in invalid_input_forms %}
		<p>In row {{row}} you entered &quot;{{user_input}}&quot; for {{form.prompt}}, which is not a valid value.
		{% for field in form %}
			<div class="input_row">  
				{% for error in field.errors %}
				<div class="error">
					{{error}}
				</div>
				{% endfor %}
				{{ field.label_tag }}: {{ field }}
			</div>
		{% endfor %}
		</p>
	{% endfor %}
	<!-- User-state -->
	<input type='hidden' name='username_unique' value='{{username_unique}}' />
	<input type='hidden' name='trial_entries_json' value='{{trial_entries_json}}' />
	<input type='hidden' name='user_to_confirm_json' value='{{user_to_confirm_json}}' />
	<input type="submit" value="Submit" />
</form>
{% endif %}

{% comment %}
http://stackoverflow.com/questions/501719/dynamically-adding-a-form-to-a-django-formset-with-ajax/669982#669982

<h3>My Services</h3>
{{ serviceFormset.management_form }}
{% for form in serviceFormset.forms %}
    <div class='table'>
    <table class='no_error'>
        {{ form.as_table }}
    </table>
    </div>
{% endfor %}
<input type="button" value="Add More" id="add_more">
<script>
    $('#add_more').click(function() {
        cloneMore('div.table:last', 'service');
    });
</script>


function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}

{% endcomment %}

{% endblock %}
