{% extends "base.html" %}
{% block content %}
<div>
	<h1>Adding New Data</h1>
	<hr />
	<p>This is the user manual for the /add/ system.</p>
	<div class="variety_trials__listing">
		<ul>
			<li><a href="{{HOME_URL}}/add/trial_entry/">{{HOME_URL}}/add/trial_entry/</a>
				<ul>
					<li>Allows new varietal trial entries to be entered, either 
					via a spreadsheet file or using the provided online spreadsheet editor.</li>
				</ul>
			</li>
			<li><a href="{{HOME_URL}}/add/variety/">{{HOME_URL}}/add/vareity/</a>
				<ul>
					<li>Allows new variety entries to be entered.</li>
				</ul>
			</li>
			<li><a href="{{HOME_URL}}/edit/variety/Variety+Name/">{{HOME_URL}}/edit/variety/Variety+Name</a>
				<ul>
					<li>Allows variety entries to be edited.</li>
				</ul>
			</li>
			<li><a href="{{HOME_URL}}/add/location/">{{HOME_URL}}/add/location/</a>
				<ul>
					<li>Allows new location entries to be entered.</li>
				</ul>
			</li>
			<li><a href="{{HOME_URL}}/edit/location/Location+Name">{{HOME_URL}}/edit/location/Location+Name</a>
				<ul>
					<li>Allows location entries to be edited.</li>
				</ul>
			</li>
		</ul>
	</div>
	<hr />
</div>
{% endblock %}

