{% extends "base_ag_ndsu.html" %}

{% block breadcrumbs %}
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level1">
	<a href="{{home_url}}/add/">Add</a>
</span>
{% endblock %}

{% block content %}
<div>
	<h1>Adding New Data</h1>
	<hr class="variety_trials__override" />
	<p>Following is a user manual for the /add/ system.</p>
	<div class="variety_trials__listing">
		<ul>
			<li><a href="{{home_url}}/add/trial_entries/">{{home_url}}/add/trial_entries/</a>
				<ul>
					<li>Allows new varietal trial entries to be entered, either 
					via a spreadsheet file or using the provided online spreadsheet editor.</li>
				</ul>
			</li>
			<li><a href="{{home_url}}/add/trial_entry/">{{home_url}}/add/trial_entry/</a>
				<ul>
					<li>Allows variety trial entries to be added one at a time.</li>
				</ul>
			</li>
			<li><a href="{{home_url}}/add/date/">{{home_url}}/add/date/</a>
				<ul>
					<li>Allows new date entries to be entered.</li>
				</ul>
			</li>
			<li><a href="{{home_url}}/add/location/">{{home_url}}/add/location/</a>
				<ul>
					<li>Allows new location entries to be entered.</li>
				</ul>
			</li>
			{% comment %}
			TODO: how do we ``safely'' edit a variety?
			<li><a href="{{home_url}}/edit/location/Location+Name">{{home_url}}/edit/location/Location+Name</a>
				<ul>
					<li>Allows location entries to be edited.</li>
				</ul>
			</li>
			{% endcomment %}
			<li><a href="{{home_url}}/add/variety/">{{home_url}}/add/variety/</a>
				<ul>
					<li>Allows new variety entries to be entered.</li>
				</ul>
			</li>
			{% comment %}
			TODO: how do we ``safely'' edit a variety?
			<li><a href="{{home_url}}/edit/variety/Variety+Name/">{{home_url}}/edit/variety/Variety+Name</a>
				<ul>
					<li>Allows variety entries to be edited.</li>
				</ul>
			</li>
			{% endcomment %}
			
		</ul>
	</div>
	<hr />
</div>
{% endblock %}

