{% extends "base.html" %}
{% block content %}
<div>
	<h1>Advanced Searching and Linking</h1>
	<hr />
	<p>This is the user manual for the GET parameters of the /view/ system.</p>
	<p>
		<a href="#view">/view</a>
		<a href="#year_range">/last_x_years</a>
		<a href="#field">/bushels_acre</a>
		<a href="#zipcode">/?zipcode=x</a>
		<a href="#scope">&amp;SCOPE=x</a>
		<a href="#not_location">&amp;not_location=1st+City+Name&amp;not_location=...</a>
		<a href="#variety">&amp;variety=City+Name1&amp;variety=...</a>
		<a href="#year_current">&amp;year=x</a>
	</p>

	<p id="view">
		Hello.
	</p>
	
	<p id="year_range">
		Hello.
	</p>
	
	<p id="field">
		Hello.
	</p>
	
	<p id="zipcode">
		Hello.
	</p>
	
	<p id="scope">
		Hello.
	</p>
	
	<p id="not_location">
		Hello.
	</p>
	
	<p id="variety">
		Hello.
	</p>
	
	<p id="year_current">
		Hello.
	</p>
	
	<hr />
</div>
{% endblock %}

