{% extends "base.html" %}
{% block content %}
<div>
	<h1>Advanced Searching and Linking</h1>
	<hr />
	<p>This is the user manual for the GET parameters of the /view/ system.</p>
	<table>
		<tr>
			<th>/view</th>
			<th>/last_x_years</th>
			<th>/bushels_acre</th>
			<th>/?zipcode=xxxxx</th>
			<th>&amp;not_locations=1st+City+Name&amp;not_locations=...</th>
			<th>&amp;variety=City+Name1&amp;variety=...</th>
			<th>&amp;variety=1st+Variety+Name&amp;variety=...</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<hr />
</div>
{% endblock %}

