<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Wheat Dissemination 2012</title>
  <meta name="description" content="Wheat variety trials online data directory.">
  <meta name="author" content="M. Kariluoma, N. Kramer">
	<!-- color scheme from http://www.ethanschoonover.com/solarized -->

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
  device-width : Occupy full width of the screen in its current orientation
  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- For the less-enabled mobile browsers like Opera Mini -->
  <link rel="stylesheet" media="handheld" href="/static/css/handheld.css">
  <link rel="stylesheet" media="print" href="/static/css/print.css">
  
  <link rel="stylesheet" href="/static/js/jsonSuggest.css" type="text/css">
  
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/static/js/modernizr-1.5.min.js"></script>
  

</head>
<body>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

<!-- begin html template -->
<a href="/">Home</a>
<div id="variety_trials__content" style="margin: 2em;">
{% block content %}
{% endblock %}
</div>

<div id="variety_trials__footer">
	<p>
		Brought to you by 
		<a href="mailto:joel.ransom@ndsu.edu">Ransom</a>, 
		<a href="mailto:wiers002@msu.edu">Wiersma</a>, &amp; 
		<a href="mailto:matti.m.kariluoma@ndsu.edu">Kariluoma</a>.
	</p>
	<ul>
		<li><a href="/about/">About</a></li>
		<li><a href="/view/">Advanced Search</a></li>
		<li><a href="/data/">API</a></li>
		<li><a href="/add/">Contribute New Data</a></li>
	</ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="/static/js/jquery-1.7.2.min.js"><\/script>')</script>

<!-- custom scripts -->
<script language="JavaScript" src="/static/js/jquery.jsonSuggest.js"></script>
<script language="JavaScript" src="/static/js/json2.js"></script>

<script>
	{% block javascript %}
	{% endblock %}
</script>

</body>
</html>
