{%extends "base.html"%}
{% block content%}
<body>
<p id="response"></p>
<table id ="debug"></table>
</body>

{% endblock %}
{% block javascript %}

var table = $('#debug')

function cell(constructorParametersObject){
    this.position = constructorParametersObject.pk;
    this.test_weight = constructorParametersObject.fields.test_weight;
    

}
var entryList=[]
var entry1 = {
    url: '/trial_entry/2/json',
	dataType: "json",
    data: {
        'key': 'value'
    },
}
var entry2 = {
    url: '/trial_entry/2/json',
	dataType: "json",
    data: {
        'key': 'value'
    },
}

var cellList = [];

function processAjaxFunction(entry_input) {
	
	cellList.push(new cell(entry_input[0]));
document.write(JSON.stringify(cellList));
}


$.ajax(entry1).done(processAjaxFunction);

{% endblock %}
