{%extends "base.html"%}
{% block content%}
<body>
<p id="response"></p>
<table>
<thead><tr id=location><th></th></tr></thead>
<tbody id="debug"></tbody>
</table>
</body>

<style type="text/css">
table,th,td
{
border:1px solid black;
}
</style>
{% endblock %}
{% block javascript %}

var table = $('#debug')
var cellList = [];
var x =0;
var entryList=[]

function cell(constructorParametersObject){
    this.position = constructorParametersObject.pk;
    this.tag = constructorParametersObject.type;
    this.value = constructorParametersObject.value;
	this.location = constructorParametersObject.location;
	this.variety = constructorParametersObject.variety;
	
}

function populateVariety(response_data){
$('#'+response_data[0].pk).prepend($('<th>').text=response_data[0].fields.name)

}

function populateLocation(response_data){
if($('#l'+response_data[0].pk).length==0){
$('#location').append($('<th id= l'+response_data[0].pk+'>').text(response_data[0].fields.name+response_data[0].pk))
}
}

function processAjaxFunction(response_data) {
	if (response_data.length>0&&response_data){
    $('#response').text(x+"Response is " + response_data[0].fields.variety + ", or " + JSON.stringify(response_data));
	}
	x++
    for (var i in response_data ){
        //alert("Making a cell from "+JSON.stringify(response_data[i]));
        /// add a new object to our array with push()
        cellList.push(new cell(response_data[i]));
        //alert("Made the cell "+JSON.stringify(cellList[i]));
	}
	if (x==2)
	{
	table.append($('<tr id=>')
	.append($('<th>').text("The position of the returned JSON objects"))
	.append($('<td>').text(cellList[0].position))
	.append($('<td>').text(cellList[1].position)));
	}
	
}

function locationAjax(response_data){
if($('#l'+response_data[0].fields.location).length==0){
var entryLocation = {
	url: '/location/'+response_data[0].fields.location+'/json',
	dataType: "json",
	data: {
		'location':'location',
		'key': 'value'
	}
}
$.ajax(entryLocation).done(populateLocation)
	
	
	
}
}

function proofOfConcept(response_data) {
if(response_data[0]){
if($('#'+response_data[0].fields.variety).length==0){
table.append($('<tr id='+response_data[0].fields.variety+'>').append($('<td headers= l'+response_data[0].fields.location+' class='+response_data[0].fields.location+'>').text(response_data[0].fields.location)))
var entryVariety = {
	url: '/variety/'+response_data[0].fields.variety+'/json',
	dataType: "json",
	data: {
		'location':'location',
		'key': 'value'
	}
}
locationAjax(response_data)
$.ajax(entryVariety).done(populateVariety)
}
else{
	if($('#'+response_data[0].fields.variety+' > td.'+response_data[0].fields.location).length==0){
		$('#'+response_data[0].fields.variety).append($('<td headers= l'+response_data[0].fields.location+' class='+response_data[0].fields.location+'>').text(response_data[0].fields.location))
		locationAjax(response_data)
	}
}}}

for(i=0;i<100;i++)
{
	var entry = {
		// async: false,
		url: '/trial_entry/'+i+'/json',
		dataType: "json",
		data: {
			'location':'location',
			'key': 'value'
		},
}
entryList.push(entry)
}


for (i=0; i<entryList.length; i++){
	$.ajax(entryList[i]).done(proofOfConcept)
	}

{% endblock %}
