{% extends "base.html" %}

{% block content %}
<div class="variety_trials__inspect">
	<p>Legend</p>
	<ul>
		<li>X: Data available.</li>
	</ul>
</div>
{% for year in masterList.items %}
<div class="variety_trials__inspect">
	<p>Data available for the year: {{year.0}}.</p>
	<table border="1">
		<thead>
		<tr>
			<th>
				Variety
			</th>
		{% for location in year.1.header %}
			<th>{{location}}</th>
		{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for variety in year.1.rows %}
			<tr class="variety_trials__row_centered variety_trials__row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %}">
			{% for entry in variety %}
				{% if entry == variety.0 %}
				<th>{{entry}}</th>
				{% else %}
				<td>{{entry}}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>
{% endfor %}

{% endblock %}
