{% extends "base.html" %}
{% load django_math %}
{% block content %}

<div>
<table>
<thead><tr id=location><th></th></tr></thead>
<tbody id="debug"></tbody>
</table>
</div>

<script type="text/javascript">

function movePosition(side){
	var positionLeft=document.getElementById('id_varieties');
	var positionRight=document.getElementById('selectRight');

if(side==1){
	if(positionLeft.options.length==0){
		alert('Nothing to move');
		return false;
	}
	else
	{
		var toCompare=positionLeft.options.selectedIndex;

		move(positionRight,positionLeft.options[toCompare].value,positionLeft.options[toCompare].text);
		//positionLeft.remove(toCompare);
		

	if(positionLeft.options.length>0){
		positionLeft.options[0].selected=true;
		}
	}

}else if(side==2){

	if(positionRight.options.length==0){
		alert('Nothing to move');
		return false;
	}else{
		var toCompare=positionRight.options.selectedIndex;

		//move(positionLeft,positionRight.options[toCompare].value,positionRight.options[toCompare].text);
		positionRight.remove(toCompare);
		

	if(positionRight.options.length>0){
		positionRight.options[0].selected=true;
			}
		}
	}
}

function move(listBoxTo,optionValue,optionDisplayText){
	var newOption = document.createElement("option"); 
	newOption.value = optionValue; 
	newOption.text = optionDisplayText; 
	listBoxTo.add(newOption, null); 
	return true; 
}
</script>

<noscript>
<div>
	<h2 style="margin-left: 2em;">NDSU Hard Red Spring Wheat Trial Results</h2>
	<hr>
	<h2>Welcome</h2><br/>
	<p>Presented here are the data collected during Hard Red Spring Wheat
	(HRSW) variety trials conducted in North Dakota. Available data 
	include yield, protein percent, test weight, kernel weight, 
	plant height, etc.</p>
	
	
</div>
<div class="location_form" >
	{% for error in error_list %}
	<p style='color: red'>{{ error }}</p>
	{% endfor %}
	<!--
	TODO: Add noscript version of this field to point to the noscript
	version of the view_location page.

	TODO: fix input validation strings return an error.
	-->
	<form action="/view/{{curyear}}/bushels_acre/" method="GET">
		{% for field in zipcode_radius_form %}
		<div class="input row">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Submit" />
	</form>
</div>

<div>
	<hr>
	<p>You can also compare varieties (hold the ctrl key to select multiple):</p>
	<form action="/view/variety/{{curyear}}/bushels_acre/" method="GET">
		{% for field in varieties_form %}
		<div class="input row">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		
		{% endfor %}
		
		<input type="submit" value="Submit"; onClick = "javascript:select_all();">
		</form>
	
</div>
</noscript>

{% endblock %}

{% block javascript %}

function select_variety(variety_value) {
		$("#id_varieties option[value='"+variety_value+"']").attr("selected","selected");
	}

//selects everything in the selectRight box
function select_all() {
$("#id_varieties option").each(
			function() {
				$(this).removeAttr("selected");
			}
		);
	
$("#selectRight option").each(
			function() {
				select_variety($(this).attr("value"));
			}
		);
	}

	
	var locationList = []
var table = $('#debug')
var cellList = [];
var x =0;
var entryList=[]

function cell(constructorParametersObject){
    this.position = constructorParametersObject.pk;
    this.tag = constructorParametersObject.type;
    this.value = constructorParametersObject.value;
	this.location = constructorParametersObject.location;
	this.variety = constructorParametersObject.variety;
	
}

function populateVariety(response_data){
//prepends the name of the variety to the <tr> that has tha same id as the variety
$('#'+response_data[0].pk).prepend($('<th>').text=response_data[0].fields.name)

}

function populateLocation(response_data){
// adds the eight closes locations to the table header and an array
for (i=0;i<8;i++){
$('#location').append($('<th id= l'+response_data[i].pk+'>').text(response_data[i].fields.name+response_data[i].pk))
locationList.push(response_data[i])
}
}


function locationAjax(){
// ajax call to get the locations
var entryLocation = {
	url: '/zipcode/near/58701/json',
	async: false,
	dataType: "json",
	data: {
		'location':'location',
		'key': 'value'
	}
}
$.ajax(entryLocation).done(populateLocation)
}

function trialEntryList(response_data) {
for (i=0; i<response_data.length; i++){
	var entry = {
		// async: false,
		url: '/trial_entry/'+response_data[i]+'/json',
		dataType: "json",
		data: {
			'location':'location',
			'key': 'value'
		},
}
$.ajax(entry).done(populateTrialEntry)
}}

function populateTrialEntry(response_data) {
	// if the response object is valid
	if(response_data[0]){
			if($('#'+response_data[0].fields.variety).length==0){// if there is no table row associated with the variety found in the response data, create one and populate it with the data in response_data
				table.append($('<tr id='+response_data[0].fields.variety+'>'))
				for (i=0;i<locationList.length;i++){// append a cell for each location
					$('#'+response_data[0].fields.variety).append('<td class='+locationList[i].pk+'>')
				}
				$('#'+response_data[0].fields.variety+' > td.'+response_data[0].fields.location).text(response_data[0].fields.location)
				var entryVariety = {//ajax call to get the name of the variety
					url: '/variety/'+response_data[0].fields.variety+'/json',
					dataType: "json",
					data: {
						'location':'location',
						'key': 'value'
					}
				}
				$.ajax(entryVariety).done(populateVariety)
			}
		else{// if the table row already exists, populate the cell corresponding to the response_data
			$('#'+response_data[0].fields.variety+' > td.'+response_data[0].fields.location).text(response_data[0].fields.location)
		}
	}
}

locationAjax()

var trial_entry = {
	url: '58102/last_three_years/json',
	dataType: "json",
}

$.ajax(trial_entry).done(trialEntryList)

{% endblock %}
