{% extends "base.html" %}
{% load django_math %}
{% block content %}

<style type="text/css">
table,th,td
{
border:1px solid black;
}
</style>
<div>
<table>
<thead><tr class=header><th>Variety</th></tr></thead>
<tbody id="debug"></tbody>
</table>
</div>

<INPUT TYPE="button" NAME="button" Value="Swap Rows" onClick="variety_trials_app.reorderTable(1,4);return false">
<INPUT TYPE="button" NAME="button" Value="Output Data" onClick="variety_trials_app.testData();return false">

<div id="main">
	<h2 style="margin-left: 2em;">NDSU Hard Red Spring Wheat Trial Results</h2>
	<hr>
	<h2>Welcome</h2><br/>
	<p>Presented here are the data collected during Hard Red Spring Wheat
	(HRSW) variety trials conducted in North Dakota. Available data 
	include yield, protein percent, test weight, kernel weight, 
	plant height, etc.</p>
	
	
</div>
<div class="location_form" >
	{% for error in error_list %}
	<p style='color: red'>{{ error }}</p>
	{% endfor %}
	<!--
	TODO: Add noscript version of this field to point to the noscript
	version of the view_location page.

	TODO: fix input validation strings return an error.
	-->
	<noscript>
	<form action="/view/{{curyear}}/bushels_acre/" method="GET">
		{% for field in zipcode_radius_form %}
		{% if field.name == 'zipcode' %}
		<div>
		{% else %}
		<div> <!--style="display: none">-->
		{% endif %}
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Submit" />
	</form>
	
	<form name='js_zipcode_form' action='' method='get'>
	Zipcode: <input id="zipcode" type="text" name="zipcode" /><br />
	</form>
	</noscript>
	<form>
	Zipcode: <input id="js_zipcode" type="text" name="zipcode" /><br />
	<INPUT TYPE="submit" NAME="button" Value="Click" onClick="variety_trials_app.makeTable();return false">
	</form>
</div>

{% endblock %}
<script>
{% block javascript %}

function select_variety(variety_value) {
		$("#id_varieties option[value='"+variety_value+"']").attr("selected","selected");
	}

//selects everything in the selectRight box
function select_all() {
$("#id_varieties option").each(
			function() {
				$(this).removeAttr("selected");
			}
		);
	
$("#selectRight option").each(
			function() {
				select_variety($(this).attr("value"));
			}
		);
	}

var cellList = [];
var variety_trials_app = {
	entryList: [],
	
	pk: [],
	table: $('#debug'),
	locationList: [],
	cells: {},
	rows: {},
	columns: {},
	
	makeTable: function(){
		var zipcode=$('#js_zipcode').val()
		variety_trials_app.locationAjax(zipcode)

		var trial_entry = {
			// async: false,
			url: zipcode+'/last_three_years/json',
			dataType: "json",
		}
		$.ajax(trial_entry).done(variety_trials_app.trialEntryList)
	},
	
	trialEntryList: function(response_data){
		for (i=0;i<response_data.length;i++)
		{
		variety_trials_app.populateTrialEntry(response_data[i])
		variety_trials_app.store_data(response_data[i])
		}
	},
	
	populateTrialEntry: function(response_data) {
		if($.inArray(response_data.fields.location, this.locationList)> -1){
				if($('.row'+response_data.fields.variety).length==0){// if there is no table row associated with the variety found in the response data, create one and populate it with the data in response_data
					this.table.append($('<tr class=row'+response_data.fields.variety+'>'))
					for (i=0;i<this.locationList.length;i++){// append a cell for each location
						$('.row'+response_data.fields.variety).append('<td class=column'+this.locationList[i]+'>')
					}
					$('.row'+response_data.fields.variety+' > td.column'+response_data.fields.location).text(response_data.fields.bushels_acre)
					var entryVariety = {//ajax call to get the name of the variety
						async: false,
						url: '/variety/'+response_data.fields.variety+'/json',
						dataType: "json",
					}
					$.ajax(entryVariety).done(variety_trials_app.populateVariety)
				}
			else{// if the table row already exists, populate the cell corresponding to the response_data
				$('.row'+response_data.fields.variety+' > td.column'+response_data.fields.location).text(response_data.fields.bushels_acre)
			}	
		}
	},
	
	store_data: function(response_data){
		if($.inArray(response_data.pk,variety_trials_app.pk)){
		
		}
		else{
		pk.push(response_data.pk)
		var variety_pk=response_data.fields.variety
		var location_pk = response_data.fields.location
		var trial_pk = response_data.pk
		new variety_trials_app.cell(response_data)
		}
	},
	
	cell: function(response_data){
		this.data=response_data
		cell_list=variety_trials_app.cells[response_data.fields.location,response_data.fields.variety]
		if(cell_list){
		cell_list.push(this)
		}
		else{
		variety_trials_app.cells[response_data.fields.location,response_data.fields.variety]=[this]
		variety_trials_app.column(response_data.fields.location,this)
		variety_trials_app.row(response_data.fields.variety,this)
		}
	},
	
	row: function(va,current_cell){
		this.variety=va
		variety_trials_app.rows[this.variety]=[]
		add_cell(current_cell)
		function add_cell(cell){
			variety_trials_app.rows[variety_trials_app.row.variety]=cell
		}
	},
	
	column: function(loc,current_cell){
		this.location=loc
		variety_trials_app.columns[location]=[]
		add_cell(current_cell)
		function add_cell(cell){
			variety_trials_app.columns[variety_trials_app.column.location]=cell
		}
	},
	
	populateVariety: function(response_data){
		//prepends the name of the variety to the <tr> that has tha same id as the variety
		$('.row'+response_data[0].pk).prepend($('<th>').text=response_data[0].fields.name+response_data[0].pk)
	},
	
	populateLocation: function(response_data){
		// adds the eight closes locations to the table header and an array
		for (i=0;i<8;i++){
		$('.header').append($('<th class= column'+response_data[i].pk+'>').text(response_data[i].fields.name+response_data[i].pk))
		variety_trials_app.locationList.push(response_data[i].pk)}
	},
	
	locationAjax: function(zipcode){
		// ajax call to get the locations
		var entryLocation = {
			url: '/zipcode/near/'+zipcode+'/json',
			async: false,
			dataType: "json",
			data: {
				'location':'location',
				'key': 'value'
			}
		}
		$.ajax(entryLocation).done(variety_trials_app.populateLocation)
	},
	
	reorderTable: function(id1, id2){
			if(id1>id2){
			var dummy = id2
			id2 = id1
			id1 = dummy
			}
		row1=$('#debug > tr:nth-of-type('+id1+')')
		row2=$('#debug > tr:nth-of-type('+id2+')')
		row1.insertAfter(row2)
	},
	
	get_header_row: function(){
		head=  $('.header:nth-of-type(1)').clone()
		return head
		
	},
	
	get_lsd_row: function(){
		lsd= $('<tr>')
		return lsd
	},
	
	//removes a column, takes the id of the associated location as the argument
	remove_column: function(id){
		column=$('.column'+id)
		column.remove()
	},
	
	//exchanges the positions of two columns, takes the id of the associated locations as the arguments UNFINISHEDs
	swap_columns: function(id1, id2){
		if(id1>id2){
			var dummy = id2
			id2 = id1
			id1 = dummy
		}
		column1=$('.column'+id1)
		column2=$('.column'+id2)
		
	},
	
	testData: function(){
	console.log(variety_trials_app.cells)
	},
}; 

{% endblock %}
</script>



