{% extends "base.html" %}
{% load django_math %}
{% block content %}

<script type="text/javascript">

function movePosition(side){
	var positionLeft=document.getElementById('id_varieties');
	var positionRight=document.getElementById('selectRight');

if(side==1){
	if(positionLeft.options.length==0){
		alert('Nothing to move');
		return false;
	}
	else
	{
		var toCompare=positionLeft.options.selectedIndex;

		move(positionRight,positionLeft.options[toCompare].value,positionLeft.options[toCompare].text);
		positionLeft.remove(toCompare);

	if(positionLeft.options.length>0){
		positionLeft.options[0].selected=true;
		}
	}

}else if(side==2){

	if(positionRight.options.length==0){
		alert('Nothing to move');
		return false;
	}else{
		var toCompare=positionRight.options.selectedIndex;

		move(positionLeft,positionRight.options[toCompare].value,positionRight.options[toCompare].text);
		positionRight.remove(toCompare);

	if(positionRight.options.length>0){
		positionRight.options[0].selected=true;
			}
		}
	}
}

function move(listBoxTo,optionValue,optionDisplayText){
	var newOption = document.createElement("option"); 
	newOption.value = optionValue; 
	newOption.text = optionDisplayText; 
	listBoxTo.add(newOption, null); 
	return true; 
}
</script>

<div>
	<h2 style="margin-left: 2em;">NDSU Hard Red Spring Wheat Trial Results</h2>
	<hr>
	<h2>Welcome</h2><br/>
	<p>Presented here are the data collected during Hard Red Spring Wheat
	(HRSW) variety trials conducted in North Dakota. Available data 
	include yield, protein percent, test weight, kernel weight, 
	plant height, etc.</p>
	
</div>
<div class="location_form" >
	{% for error in error_list %}
	<p style='color: red'>{{ error }}</p>
	{% endfor %}
	<!--
	TODO: Add noscript version of this field to point to the noscript
	version of the view_location page.

	TODO: fix input validation strings return an error.
	-->
	<form action="/view/{{curyear}}/bushels_acre/" method="GET">
		{% for field in zipcode_radius_form %}
		<div class="input row">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		{% endfor %}
		<input type="submit" value="Submit" />
	</form>
</div>

<div>
	<hr>
	<p>You can also compare varieties (hold the ctrl key to select multiple):</p>
	<form action="/view/variety/{{curyear}}/bushels_acre/" method="GET">
		{% for field in varieties_form %}
		<div class="input row">
			{{ field.errors }}
			{{ field.label_tag }}: {{ field }}
		</div>
		
		{% endfor %}
		<input name="btnRight" type="button" id="btnRight" value="&gt;&gt;" onClick="javascript:movePosition(1);">
		<input name="btnLeft" type="button" id="btnLeft" value="&lt;&lt;" onClick="javascript:movePosition(2);">
		<input type="submit" value="Submit"; onClick = "javascript:select_all();">
		</form>
	
</div>
{% endblock %}

{% block javascript %}

//selects everything in the selectRight box
function select_all() {
$("#selectRight").each(
			function() {
				$("#selectRight option").attr("selected","selected");
			}
		);
	}
	
//clears the selecrRight box on page load
$("#selectRight").each(
			function() {
				$("#selectRight option").remove();
			}
		);
{% endblock %}
