{% extends "base_ag_ndsu.html" %}
{% block content %}

<div id="main">
	<h2 style="margin-left: 2em;">NDSU Hard Red Spring Wheat Trial Results</h2>
	<hr class="variety_trials__override" />
	<h2>Welcome</h2><br/>
	<p>Presented here are the data collected during Hard Red Spring Wheat
	(HRSW) variety trials conducted in North Dakota and Minnesota. 
	Available data include yield, protein percent, test weight, 
	kernel weight, plant height, etc.</p>
</div>

<div>
	{% for error in error_list %}
	<p style='color: red'>{{ error }}</p>
	{% endfor %}
		<form id="static_form" action="{{home_url}}/view/last_3_years/bushels_acre/" method="GET">
			{% for field in zipcode_form %}
			{% if field.name == 'zipcode' %}
			<div>
			{% elif field.name == 'scope' %}
			<div id='variety_trials__radio_input'>
			{% elif field.name == 'planting_method' %}
			<div id='variety_trials__radio_input'>
			{% else %}
			<div class="variety_trials__hidden_input">
			{% endif %}
				<span style='color: red'>{{ field.errors }}</span>
				{{ field.label_tag }} {{ field }} <span class="variety_trials__help_text">{{field.help_text}}</span>
			</div>
			{% endfor %}
			<input type="submit" value="Submit" />
		</form>
		
</div>


{% endblock %}


{% block javascript_imports %}

{% endblock %}

{% block javascript %}


{% endblock %}


