{% extends "base.html" %}
{% load django_math %}
{% block content %}
<input type="button" value="Home" onClick="location.href='/';">
<div class="location_form units">
	{% for fieldname, blurb_list in blurbs.items %}
	<div class="{{fieldname}}" style="display:none">
		<form name="{{fieldname}}_location_form" action="/view/{{view}}/{{curyear}}/{{fieldname}}/" method="GET">
			
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{fieldname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="location_form years"><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname in years %}
	<div style="display:none">
		<form name="{{yearname}}_location_form" action="/view/{{view}}/{{yearname}}/{{curfield}}/" method="GET">
			
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			{% for field in varieties_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{yearname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="variety_form units">
	{% for fieldname, blurb_list in blurbs.items %}
	<div class="{{fieldname}}" style="display:none">
		<form name="{{fieldname}}_variety_form" action="/view/{{view}}/{{curyear}}/{{fieldname}}/" method="GET">
			
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{fieldname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="variety_form years"><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname in years %}
	<div style="display:none">
		<form name="{{yearname}}_variety_form" action="/view/{{view}}/{{yearname}}/{{curfield}}/" method="GET">
			
			{% for field in locations_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			{% for field in varieties_form %}
			<div class="input row">
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{yearname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>

	<div class="top_spacer"></div>
	<div>
	{% for fieldname, blurb_list in blurbs.items %}
		<p>	
		
		{% if fieldname == curfield %}
			* <a href="/view/{{view}}/{{curyear}}/{{fieldname}}/{{variety_get_string}}{{location_get_string}}">{{fieldname}}</a>
		{% else %}
			<a href="/view/{{view}}/{{curyear}}/{{fieldname}}/{{variety_get_string}}{{location_get_string}}">{{fieldname}}</a>
		{% endif %}
		
		</p>
	{% endfor %}
	</div>
	
	<br style="clear: both;"/>
	<div ><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname in years %}
		<!--TODO: auto-generate these year button images-->
		<p>
		
		{% if yearname == curyear %}
			* <a href="/view/{{view}}/{{yearname}}/{{curfield}}/{{variety_get_string}}{{location_get_string}}">{{yearname}}</a>
		{% else %}
			<a href="/view/{{view}}/{{yearname}}/{{curfield}}/{{variety_get_string}}{{location_get_string}}">{{yearname}}</a>
		{% endif %}
		
		</p>
	{% endfor %}
	</div>

	<div id="django_trial_results_content">
		<div>
			<div colspan="{{ heading_list|length|add:1 }}">
				{% for fieldname, blurb_list in blurbs.items %}
				{% if fieldname == curfield %}
						<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
						<p>{{blurb_list.2}}</p>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div>
			<div colspan="{{ heading_list|length|add:1 }}" class="current_year">{{curyear}}</div> <!--TODO: Hardcoded value `2' isn't always correct-->
		</div>
		<div class = "container">
			<div class="Column"><h4> Variety</h4></div>
			{% for heading in heading_list %}
			<div class="Column"><h4>{{ heading.0 }}</h4>
			{% if heading.1 != -1 %}
			<a href="#" onclick="unselect_location({{ heading.1 }}); document['{{curfield}}_location_form'].submit(); return false">(x)</a>
			{% endif %}
			</div>
			{% endfor %}
		</div>
		<br style="clear: both;"/>
		<div class="row subheadings thin">
		</div>
	{% for datalist in sorted_list %}
		{% if datalist.0.0 == "Variety" %}
		<div class="container">
			<div></div>
		</div>
		<div>
			<div colspan="{{ heading_list|length|add:1 }}" class="current_year"></div> <!--TODO: Hardcoded value `2' isn't always correct-->
		</div>
		<div class="container">
			{% for heading in datalist %}
			<div class="Column"><h3>{{ heading.0 }}</h3>
				{% if heading.1 != -1 %}
				<a href="#" onclick="unselect_location({{ heading.1 }}); document['{{curfield}}_location_form'].submit(); return false">(x)</a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<br style="clear: both;"/>
		
		{% else %}
		{% if datalist.0 == "LSD" %}
		<div>
			<div class ='ColumnToLeft'>
			<form>
				<input type="submit" value="Compare Selected" onclick="submit_variety_comparison(); return false">
			</form>
			</div>
			<br style="clear: both;"/>
		</div>
		<div class="spacer_row">
			<div></div>
		</div>
		<div class="LSD_row">
			{% for element in datalist %}
			<div class='Column'>{{ element|default_if_none:"--" }}</div>
			{% endfor %}
			<br style="clear: both;"/>
		</div>
		{% else %}
		<div class="group {% cycle 'master_odd' 'master_even' %}">
			{% for element in datalist %}
				{% if datalist.0 == element %}
				<form>
					<div class='ColumnToLeft'>
						<input class="variety_checkbox" type="checkbox" name="{{ element.0 }}" value="{{element.1}}" onclick="unselect_variety({{element.1}})" /> <a href='/view/info/{{element.0}}/'>{{element.0}}</a>
					</div>
				</form>
				{% else %}
				<div class='Column'>
					{{ element|default_if_none:"--" }}
				</div>
				{% endif %}
				
			{% endfor %}
			<br style="clear: both;"/>
		</div>
		{% endif %}
		{% endif %}
	{% endfor %}
		<div class="bottom_spacer"></div>
	</div>
	<div class="clear">&#160;</div>

	<!--
	<div id='dynamic_content'></div>
	-->
{% endblock %}

{% load jsonify %}

{% block javascript %}

	function unselect_location(location_value) {
		$("#id_locations option[value='"+location_value+"']").removeAttr("selected");
	}
	
	function select_location(location_value) {
		$("#id_locations option[value='"+location_value+"']").attr("selected","selected");
	}
	
	function unselect_variety(variety_value) {
		$("#id_varieties option[value='"+variety_value+"']").removeAttr("selected");
	}
	
	function select_variety(variety_value) {
		$("#id_varieties option[value='"+variety_value+"']").attr("selected","selected");
	}

	function submit_variety_comparison() {
		$("#id_varieties").each(
			function() {
				$("#id_varieties option").removeAttr("selected");
			}
		);
		
		$('.variety_checkbox').each( 
			function() {
				if ($(this).attr('checked'))
				{
					select_variety($(this).attr('value'));
				}
			}
		);
		
		document['{{curfield}}_variety_form'].submit();
		return false;
	}

{% endblock %}

{% block jquery %}

  $('.group .master').toggle(
    function(){
      $(this).siblings('.slave').show();
    },
    function(){
      $(this).siblings('.slave').hide();  
    }
  );

{% endblock %}
