{% extends "base.html" %}
{% load django_math %}
{% load get_urlencode %}
{% block content %}
{% if page == None %}
	{{ message }}
{% else %}
	<div>
	{% for fieldname, blurb_list in blurbs.items %}
		<p>
		{% if fieldname == curfield %}
			* 
		{% endif %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{fieldname}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{year_get_string}}">{{fieldname}}</a>
		</p>
	{% endfor %}
	</div>
	
	<div>
	{% for yearname in years %}
		<p>
		
		{% if yearname == curyear %}
			*
		{% endif %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{yearname|get_urlencode:'year'}}">{{yearname}}</a>
		</p>
	{% endfor %}
	</div>

	<div>
		<div>
			{% if varieties|length > 0 %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{curyear|get_urlencode:'year'}}">Clear head-to-head comparison</a>
			{% endif %}
		</div>
		<div>
			{% if curyear != maxyear %}
			<a href="{{home_url}}/view/{{curyear}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}">Rebalance the table for this year</a>
			{% endif %}
		</div>
		<div>
			{% for fieldname, blurb_list in blurbs.items %}
			{% if fieldname == curfield %}
					<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
					<p>{{blurb_list.2}}</p>
			{% endif %}
			{% endfor %}
		</div>
		<div>{{year_url_bit}}</div> 
		<table>
		<thead>
		</thead>
		<form action="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/" method="GET">
		<div style="display: none;">
			{% for field in hidden_zipcode_form %}
			{{ field.label_tag }}: {{ field }}
			{% endfor %}
		</div>
		<tbody>
{% for table in page.data_tables %}
		<tr>
			<th>
				<h4>Variety</h4>
			</th>
		{% comment %}{% for location in table.locations %}{% endcomment %}
		{% comment %}{% for location in table.visible_locations %}{% endcomment %}
		{% for column, location in table.sorted_visible_columns %}
			<th>
				<h4>{{ location.name }}</h4>
			{% if location.id == -1 %}
				<p>{{column.get_site_years}} site-years</p>
			{% else %}
				<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{location.name|get_urlencode:'not_location'}}{{variety_get_string}}{{year_get_string}}">(x)</a>
			{% endif %}
			</th>
		{% endfor %}
		</tr>
	{% for variety, row in table.sorted_rows %}
		{% if variety.name == "LSD" %}
		<tr class="variety_trials__LSD_row">
			<th>
				<input type="submit" value="Compare Checked"/>
				<p>LSD: </p>
			</th>
		{% else %}
		<tr class="variety_trials__row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %}">
			<th>
				<input
					class="variety_trials__variety_checkbox"
					type="checkbox"
					id="id_{{variety.name}}"
					name="variety"
					value="{{variety.name}}"/>
				<label for="id_{{variety.name}}">
					<a href='{{home_url}}/view/info/{{variety.name}}/'>{{variety.name}}</a>
				</label>
			</th>
		{% endif %}
		{% for cell in row %}
			<td>
			{{ cell|default_if_none:"--" }}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
{% endfor %}
{% if page.appendix_tables|length != 0 %}
	<tr>
		<td colspan="777">We have data available for other varieties (for a head-to-head comparison): </td>
	</tr>
{% endif %}
{% for table in page.appendix_tables %}
		<tr>
			<th>
				<h4>Variety</h4>
			</th>
		</tr>
	{% for variety, row in table.sorted_rows %}
		{% if variety.name == "LSD" %}
		<tr class="variety_trials__LSD_row">
			<th>
				<input type="submit" value="Compare Checked"/>
			</th>
		{% else %}
		<tr class="variety_trials__row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %}">
			<th>
				<input
					class="variety_trials__variety_checkbox"
					type="checkbox"
					id="id_{{variety.name}}"
					name="variety"
					value="{{variety.name}}"/>
				<label for="id_{{variety.name}}">
					<a href='{{home_url}}/view/info/{{variety.name}}/'>{{variety.name}}</a>
				</label>
			</th>
		{% endif %}
		</tr>
	{% endfor %}
{% endfor %}
		</tbody>
		</form>
		<tfoot>
		</tfoot>
		</table>
	</div>
{% endif %}
{% endblock %}

{% load jsonify %}

{% block javascript %}

{% endblock %}
