{% extends "base_ag_ndsu.html" %}
{% load django_math %}
{% load get_urlencode %}

{% block breadcrumbs %}
<!--
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level1">
	<a href="{{home_url}}/view/">Advanced Search</a>
</span>
-->
<span class="breadcrumbSeparator"> &#8250; </span>
</span>
<span id="breadcrumbs-level2">
	<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{year_get_string}}">Search Results</a>
</span>
{% endblock %}

{% block navigation %}
<ul class="navTree navTreeLevel0">
	{% for fieldname, blurb_list in blurbs.items %}
	<li class="navTreeItem navTreeTopNode">
		{% if fieldname == curfield %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{fieldname}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{year_get_string}}"><h2 style="display: inline;">*</h2>{{fieldname}}</a> 
		{% else %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{fieldname}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{year_get_string}}">{{fieldname}}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>
<hr>
<ul class="navTree navTreeLevel0">
	{% for yearname in years %}
	<li class="navTreeItem navTreeTopNode">
		{% if yearname == curyear %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{yearname|get_urlencode:'year'}}"><h2 style="display: inline;">*</h2>{{yearname}}</a>
		{% else %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}{{yearname|get_urlencode:'year'}}">{{yearname}}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}

{% block content %}
<h1>Search Results</h1>
<hr class="variety_trials__override" />

<div>
{% if page == None %}
<p>{{ message }}</p>
{% else %}
		<div>
			{% if varieties|length > 0 %}
			<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{curyear|get_urlencode:'year'}}">Clear head-to-head comparison</a>
			{% endif %}
		</div>
		<div>
			{% if curyear != maxyear %}
			<a href="{{home_url}}/view/{{curyear}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{variety_get_string}}">Rebalance the table for this year</a>
			{% endif %}
		</div>
		<div>
			<p>This data is for the time period {{year_url_bit}}</p>
		</div> 
		<div>
			{% for fieldname, blurb_list in blurbs.items %}
			{% if fieldname == curfield %}
					<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
					<p>{{blurb_list.2}}</p>
			{% endif %}
			{% endfor %}
		</div>
		
		<table>
		<thead>
		</thead>
		<form action="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/" method="GET">
		<div style="display: none;">
			{% for field in hidden_zipcode_form %}
			{{ field.label_tag }}: {{ field }}
			{% endfor %}
		</div>
{% for table in page %}
		<tbody>
		<tr>
			<th>
				<h4>Variety</h4>
			</th>
		{% comment %}{% for location in table.columns %}{% endcomment %}
		{% comment %}{% for location in table.visible_locations %}{% endcomment %}
		{% for column in table.columns %}
			<th>
				<h4>{{ column.location.name }}</h4>
			{% if column.location.id == -1 %}
				<p>{{column.site_years}} site-years</p>
			{% else %}
				<a href="{{home_url}}/view/{{year_url_bit}}/{{curfield}}/{{zipcode_get_string}}{{scope_get_string}}{{not_location_get_string}}{{column.location.name|get_urlencode:'not_location'}}{{variety_get_string}}{{year_get_string}}">(x)</a>
			{% endif %}
			</th>
		{% endfor %}
		</tr>
	{% for row in table.rows %}
		{% if row.variety.name == "LSD" %}
		<tr class="variety_trials__LSD_row">
			<th>
				<p>LSD:</p>
				<input type="submit" value="Compare Selected"/>
			</th>
		{% else %}
		<tr class="variety_trials__row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %}">
			<th>
				<input
					class="variety_trials__variety_checkbox"
					type="checkbox"
					id="id_{{row.variety.name}}"
					name="variety"
					value="{{row.variety.name}}"/>
				<label for="id_{{row.variety.name}}">
					<a href='{{home_url}}/view/info/{{row.variety.name}}/'>{{row.variety.name}}</a>
				</label>
			</th>
		{% endif %}
		{% for cell in row %}
			<td>
			{{ cell|default_if_none:'--' }}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
{% endfor %}
{% if show_appendix_tables %}
	{% if page.appendix_tables|length != 0 %}
	<tr>
		<td colspan="777">We have data available for other varieties (for a head-to-head comparison): </td>
	</tr>
	{% endif %}
	{% for table in page.appendix_tables %}
		{% for row in table.rows %}
			{% if row.variety.name == "LSD" %}
		<tr class="variety_trials__LSD_row">
			<th>
				<input type="submit" value="Compare Selected"/>
			</th>
			{% else %}
		<tr class="variety_trials__row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %}">
			<th>
				<input
					class="variety_trials__variety_checkbox"
					type="checkbox"
					id="id_{{row.variety.name}}"
					name="variety"
					value="{{row.variety.name}}"/>
				<label for="id_{{row.variety.name}}">
					<a href='{{home_url}}/view/info/{{row.variety.name}}/'>{{row.variety.name}}</a>
				</label>
			</th>
			{% endif %}
		</tr>
		{% endfor %}
	{% endfor %}
{% endif %}
	</tbody>
		</form>
		<tfoot>
		</tfoot>
		</table>
{% endif %}
	</div>
{% endblock %}

{% block javascript %}

	
{% endblock %}
