{% extends "base.html" %}
{% load django_math %}
{% block content %}
	<div>
	{% for fieldname, blurb_list in blurbs.items %}
		<p>	
		
		{% if fieldname == curfield %}
			* <a href="/view/{{view}}/{{curyear}}/{{fieldname}}/{{variety_get_string}}{{location_get_string}}">{{fieldname}}</a>
		{% else %}
			<a href="/view/{{view}}/{{curyear}}/{{fieldname}}/{{variety_get_string}}{{location_get_string}}">{{fieldname}}</a>
		{% endif %}
		
		</p>
	{% endfor %}
	</div>
	
	<br style="clear: both;"/>
	<div ><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname in years %}
		<!--TODO: auto-generate these year button images-->
		<p>
		
		{% if yearname == curyear %}
			* <a href="/view/{{view}}/{{yearname}}/{{curfield}}/{{variety_get_string}}{{location_get_string}}">{{yearname}}</a>
		{% else %}
			<a href="/view/{{view}}/{{yearname}}/{{curfield}}/{{variety_get_string}}{{location_get_string}}">{{yearname}}</a>
		{% endif %}
		
		</p>
	{% endfor %}
	</div>

	<div>
		<div>
			{% for fieldname, blurb_list in blurbs.items %}
			{% if fieldname == curfield %}
					<p>{{blurb_list.0}}: {{blurb_list.1}}</p>
					<p>{{blurb_list.2}}</p>
			{% endif %}
			{% endfor %}
		</div>
		<div>{{curyear}}</div> 
		<table >
{% for table in page.tables %}
		<tr>
			<th>
				<h4>Variety</h4>
			</th>
		{% comment %}{% for location in table.locations %}{% endcomment %}
		{% for location in table.visible_locations %}
			<th>
				<h4>{{ location.name }}</h4>
			{% if location.id != -1 %}
				<a href="#" onclick="unselect_location({{ location.id }}); document['{{curfield}}_location_form'].submit(); return false">(x)</a>
			{% endif %}
			</th>
		{% endfor %}
		</tr>
	{% for variety, row in table.rows.items %}
		{% if variety.name == "LSD" %}
		<tr class="variety_trials__LSD_row">
			<th>
			<form>
				<input type="submit" value="Compare Selected" onclick="submit_variety_comparison(); return false;">
			</form>
			</th>
		{% else %}
		<tr class="variety_trials__row {% cycle 'variety_trials__row_odd' 'variety_trials__row_even' %}">
				<th>
				<form>
					<input class="variety_trials__variety_checkbox" type="checkbox" name="{{ variety.name }}" value="{{variety.id}}" onclick="unselect_variety({{variety.id}}); return false;"> 
						<a href='/view/info/{{variety.name}}/'>{{variety.name}}</a>
					</input>
				</form>
				</th>
		{% endif %}
		{% for cell in row %}
			<td>
			{{ cell|default_if_none:"--" }}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
{% endfor %}
	</table>
	</div>

<div class="variety_trials__location_form">
	{% for fieldname, blurb_list in blurbs.items %}
	<div>
		<form name="{{fieldname}}_location_form" action="/view/{{view}}/{{curyear}}/{{fieldname}}/" method="GET">
			
			{% for field in locations_form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{fieldname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="variety_trials__location_form"><!-- style="padding: 5px;" TODO: Apply on NoScript?-->
	{% for yearname in years %}
	<div>
		<form name="{{yearname}}_location_form" action="/view/{{view}}/{{yearname}}/{{curfield}}/" method="GET">
			
			{% for field in locations_form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			{% for field in varieties_form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{yearname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="variety_trials__variety_form">
	{% for fieldname, blurb_list in blurbs.items %}
	<div>
		<form name="{{fieldname}}_variety_form" action="/view/{{view}}/{{curyear}}/{{fieldname}}/" method="GET">
			
			{% for field in locations_form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{fieldname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
<div class="variety_trials__variety_form">
	{% for yearname in years %}
	<div>
		<form name="{{yearname}}_variety_form" action="/view/{{view}}/{{yearname}}/{{curfield}}/" method="GET">
			
			{% for field in locations_form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			{% for field in varieties_form %}
			<div>
				{{ field.errors }}
				{{ field.label_tag }}: {{ field }}
			</div>
			{% endfor %}
			<input type="submit" value="{{yearname}} submit" />
		</form>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% load jsonify %}

{% block javascript %}

	function unselect_location(location_value) 
	{
		$(".variety_trials__location_form option[value='"+location_value+"']").removeAttr("selected");
	}
	
	function select_location(location_value) 
	{
		$(".variety_trials__location_form option[value='"+location_value+"']").attr("selected","selected");
	}
	
	function unselect_variety(variety_value) 
	{
		$(".variety_trials__variety_form option[value='"+variety_value+"']").removeAttr("selected");
	}
	
	function select_variety(variety_value) 
	{
		$(".variety_trials__variety_form[value='"+variety_value+"']").attr("selected","selected");
	}

	function submit_variety_comparison() 
	{
		$(".variety_trials__variety_form").each(
			function() {
				$(".variety_trials__variety_form option").removeAttr("selected");
			}
		);
		
		$('.variety_trials__variety_checkbox').each( 
			function() 
			{
				if ($(this).attr('checked'))
				{
					select_variety($(this).attr('value'));
				}
			}
		);
		
		document['{{curfield}}_variety_form'].submit();
		return false;
	}

{% endblock %}

{% block jquery %}


{% endblock %}
