{% extends "base.html" %}
{% load django_math %}
{% block content %}
<div>
{% if not variety %}
	<p>{{message}}</p>
{% else %}
	<table class="variety_trials__detail">
		<tr>
			<th>Variety Name</th>
			<td>{{variety.name}}</td>
		</tr>
		<tr>
			<th>Index</th>
			<td>{{variety.pk}}</td>
		</tr>
		<tr>
			<th>Year Released</th>
			<td>{{variety.year_released}}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{{variety.description_url}}</td>
		</tr>
		<tr>
			<th>Picture</th>
			<td>{{variety.picture_url}}</td>
		</tr>
		<tr>
			<th>Agent Origin</th>
			<td>{{variety.agent_origin}}</td>
		</tr>
		<tr>
			<th>Straw Length</th>
			<td>{{variety.straw_length}}</td>
		</tr>
		<tr>
			<th>Maturity</th>
			<td>{{variety.maturity}}</td>
		</tr>
		<tr>
			<th>Grain Color</th>
			<td>{{variety.grain_color}}</td>
		</tr>
		<tr>
			<th>Seed Color</th>
			<td>{{variety.seed_color}}</td>
		</tr>
		<tr>
			<th>Beard</th>
			<td>{{variety.beard}}</td>
		</tr>
		<tr>
			<th>Wilt</th>
			<td>{{variety.wilt}}</td>
		</tr>
	</table>
{% endif %}
</div>
{% endblock %}
