.variety_trials__location_form 
{
  display: none;
}

.variety_trials__variety_form 
{
  display: none;
}

.variety_trials__row th
{
	text-align: left;
}

.variety_trials__row td 
{
	text-align: right;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-right: 1px dotted #666;
	width: 70px;
}

.variety_trials__row_even 
{
  background-color: #FFF;
}

.variety_trials__row_odd 
{
  background-color: #DDD;
}

.variety_trials__LSD_row 
{
	background-color: #CCC;
}

.variety_trials__Column 
{ 
	margin: 0 0 0 8px; 
	width: 8%; 
	float: left; 
	display:inline;
	
}

.variety_trials__Column h4 h3 a
{
	display:inline;
}

.variety_trials__ColumnToLeft 
{ 
	margin: 0 0 0 10px; 
	width: 8%; 
	float: left; 
	text-align:left;
	display:inline;
}
