#variety_trials__scope_input li
{
	list-style-type: none;
}

.variety_trials__hidden
{
	display: none;
}

.variety_trials__add
{
	text-align: center;
	border-radius: 1em;
	/* color-scheme inspired by http://www.github.com */
	background-color: rgb(234, 234, 234);
	color: rgc(51, 51, 51);	
	padding: 0em;
}

a#variety_trials__add_trial_entry_form
{
	display: block;
	margin: auto;
	padding: 1em;
}

#variety_trials__trial_entry_empty_form
{
	display: none;
}

.variety_trials__help_text
{
	color: grey;
	padding-left: 1em;
}

#variety_trials__spreadsheet div table
{
	/* The following declaration is a work-around for the ndsu ag styleseets. */
	background-color: transparent;
}
#variety_trials__spreadsheet div
{
	/* The following declaration is a work-around for the ndsu ag styleseets. */
	max-width: none;
}

hr.variety_trials__override
{
	margin-top: 1em;
	margin-bottom: 1em;
}

div.variety_trials__input_option 
{
	border-radius: 1em;
	padding: 1em;
	/* color-scheme inspired by http://www.github.com */
	background-color: rgb(234, 234, 234);
	color: rgc(51, 51, 51);
	margin-bottom: 1em;
}

.variety_trials__input_option h4
{
	padding-bottom: 0.5em;
	margin-top: 0em;
	border-bottom: 1px rgb(200,200,200) solid;
	cursor: pointer;
}

.variety_trials__input_row 
{
	display: table-row;
}

.variety_trials__input_row label, input
{
	display: table-cell;
}

.variety_trials__input_row label
{
	padding-right: 1em;
}

.variety_trials__row th
{
	text-align: left;
}

.variety_trials__row td 
{
	text-align: right;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-right: 1px dotted #666;
	width: 70px;
}

.variety_trials__row_centered td
{
	text-align: center;
}

.variety_trials__row_even 
{
  background-color: #FFF;
}

.variety_trials__row_odd 
{
  background-color: #DDD;
}

.variety_trials__LSD_row 
{
	text-align: right;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-right: 1px dotted #666;
	width: 70px;
	background-color: #CCC;
}

.variety_trials__LSD_row th
{
	text-align: left;
}

.variety_trials__LSD_row th p
{
	text-align: right;
}

.variety_trials__Column 
{ 
	margin: 0 0 0 8px; 
	width: 8%; 
	float: left; 
	display:inline;
	
}

.variety_trials__Column h4 h3 a
{
	display:inline;
}

.variety_trials__ColumnToLeft 
{ 
	margin: 0 0 0 10px; 
	width: 8%; 
	float: left; 
	text-align:left;
	display:inline;
}

#variety_trials__footer
{
	font-size: 0.9em;
	text-align: center;
}

#variety_trials__footer p
{
	margin-bottom: 0.5em;
}

#variety_trials__footer ul
{
	margin-top: 0.5em;
}

#variety_trials__footer ul li
{
	list-style-type: none;
	display: inline;
	padding-left: 1em;

}

.variety_trials__detail
{
	border: 1px solid black;
	padding: 0.5em;
}

.variety_trials__detail tr th
{
	text-align: right;
	padding-right: 0.5em;
	border-right: 1px solid black;
}

.variety_trials__detail tr td
{
	text-align: left;
	padding-left: 0.5em;
}

.variety_trials__inspect
{
	border: 1px solid black;
	display: inline-block;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

.variety_trials__inspect p
{
	margin-top: 0em;
	border-bottom: 1px solid black;
}

.variety_trials__inspect ul li
{
	list-style-type: none;
}

.variety_trials__two_column
{
	float:left;
	width:100%;
	position: relative;
	right: 50%;
}

.variety_trials__two_column div ul li
{
	list-style-type: none;
}

.variety_trials__two_column_left
{
	float: left;
	width: 46%;
	position: relative;
	left: 52%;
	overflow: hidden;
}

.variety_trials__two_column_right
{
	float:left;
	width: 46%;
	position: relative;
	left: 56%;
	overflow: hidden;
}

.variety_trials__error
{
	color: red;
}

#variety_trials__container
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.variety_trials__spreadsheet_table
{
	display: table;
	
}

.variety_trials__spreadsheet_row
{
	display: table-row;

}

.variety_trials__spreadsheet_header
{
	font-weight: bold;
	font-size: 0.75em;
	
}

.variety_trials__spreadsheet_data
{
	display: table-cell;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 3px;
	font-size: 0.8em;
	text-align: center;
}

.variety_trials__code
{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.8em;
	display: inline;
}

.variety_trials__listing ul li
{
	
	padding-bottom: 0.75em;
}

.variety_trials__listing ul li ul li
{
	list-style-type: none;
	padding-bottom: 0em;
}

#variety_trials__toc 
{
	display: inline-block;
	padding: 0.5em;
	border: 1px solid black;
}

#variety_trials__toc p
{
	font-weight: bold;
	text-align: center;
	margin-top: 0em;
}

.variety_trials__toc_header
{
	font-weight: bold;
	font-size: 1.25em;
	border-bottom: 1px solid black;
}


