{% extends "base.html" %}

{% block content %}
  {% for location in location_list %}
  
  <div id="{{ location.zipcode }}">
    <h2>Your area, {{ location.zipcode }} {{ location.zipcode.latitude }}, {{ location.zipcode.longitude }}</h2>
    <div class="datarow">  
      <div class="location_name">{{ location.name }}</div>
      <div class="row headings">
        <div class="bushels_acre"><h3>Bushels per acre</h3></div>
        <div class="protein_percent"><h3>Protein percent</h3></div>
      </div>
      {% for entry in trialentry_list %}
      <div class="row">       
        <div class="bushels_acre data">{{ entry.bushels_acre }} bushels</div>
        <div class="protein_percent data">{{ entry.protein_percent }} protein %</div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <!--
  <p>This information is for locations between latitudes:</p>
  {% for lat in lat_list %}
  <p>{{ lat }}</p>
  {% endfor %}
  <p>This information is for locations between longitudes:</p>
  {% for lon in lon_list %}
  <p>{{ lon }}</p>
  {% endfor %}
  -->
{% endblock %}
