{% extends "base.html" %}

{% block content %}
  {% for location in location_list %}
  <h2>Your area, {{ location.zipcode }} {{ location.zipcode.latitude }}, {{ location.zipcode.longitude }}</h2>
    <ul>
      <li>
        {{ location.name }}
        <ul>
          {% for entry in trialentry_list %}
            <li>{{ entry.bushels_acre }} bushels</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endfor %}
  <p>This information is for locations between latitudes:</p>
  {% for lat in lat_list %}
  <p>{{ lat }}</p>
  {% endfor %}
  <p>This information is for locations between longitudes:</p>
  {% for lon in lon_list %}
  <p>{{ lon }}</p>
  {% endfor %}
{% endblock %}
