{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% trans "Add Varieties/Cultivars to Database" %}</title>
</head>
<body>

<h2>{% trans "Add new varieties/cultivars to the database" %}</h2>
<p>{% trans "Please answer the following questions" %}:</p>
<form method="post" class="form-vertical" id="spreadsheet_form">
	{% csrf_token %}
<ul>
{% for add_model_dict in add_model_dicts %}
	<li>
	{% if add_model_dict.name %}
                {% trans "You input" %} "{{ add_model_dict.name }}".
        {% else %}
                {% trans "There are no Varieties listed on your spreadsheet. If this spreadsheet is for a single variety, fill out the form below. Otherwise, go back and select the list of names that are Varieties." %}
        {% endif %}
	{% trans "This is the Variety" %}:
		<ul><li>{{ add_model_dict.form }}</li></ul>
	</li>
{% empty %}
	<li>{% trans "We couldn't find any varieties on your spreadsheet that aren't already in the database. If you are constantly being redirected to this page, please contact your system administrator." %}</li>
{% endfor %}
</ul>
	<button id="submit" type="submit" class="btn">{% trans "Submit" %}</button>
</form>
</body>
</html>
