{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% trans "Verify - 5 / 6" %}</title>
</head>
<body>

<h2>{% trans "Step 5 of 6: Enter statistical information" %}</h2>
<p>{% trans "If your data has any statistical information associated with it (LSDs, HSDs, CVs, etc.) please enter them below." %}</p>
<p>{% trans "Please answer the following questions" %}:</p>
<form method="post" class="form-vertical" id="statistics-form">
	{% csrf_token %}
{% if verify_dicts %}
	<h3>{% trans "Multiple Statistics" %}</h3>
{% else %}
	<h3>{% trans "Single Statistic" %}</h3>
{% endif %}
{% for verify_dict in verify_dicts %}
	<h4>You input "{{ verify_dict.name }}". This is:</h4>
        <table>
					<tr class="location">
{% for header in verify_dict.headers %}
					<th>{{ header }}</th>
{% endfor %}
					</tr>
					<tr>
{% for value in verify_dict.values %}
					<td>{{ value }}</td>
{% endfor %}
					</tr>
        </table>
        <p>This is {{ verify_dict.form }}</p>
{% empty %}
	<p>{% trans "We couldn't find any statistical data on your spreadsheet. If you have statistics to enter, please fill out the following spreadsheet:" %}</p>
	{{ single_form }}
	<input type="hidden" name="single_model" value="single_model">
{% endfor %}
	<button id="submit" type="submit" class="btn">{% trans "Submit" %}</button>
</form>
{% if not verify_dicts %}
	<h3>{% trans "Multiple Statistics" %}</h3>
	<p>
	{% trans "If this data is for multiple statistics, do not continue. When copying data into the " %}
	<a href="../../">{% trans "upload form" %}</a>
	{% trans " please ensure the statistics' names are copied as well. You will need to start over with a new upload. Sorry!" %}
	</p>
{% endif %}
<h3>{% trans "Having Problems?" %}</h3>
<p>
	{% trans "If you are having problems with this form, first try to " %}
	<a href="clean/">{% trans "clean" %}</a>
	{% trans " any data previously entered. If the problem persists, please contact the site administrator." %}
</p>
</body>
</html>
